<div class='progress-msg'>Mon, 15 Oct 2018 09:46:04 +0000</div>
<div class='progress-msg'>[09:46:04] Composing titles...</div>
<div class='progress-msg'>[09:46:04] Composing excerpts...</div>
<div class='progress-msg'>[09:46:04] Composing duplicate indicators...</div>
<div class='progress-msg'>[09:46:04] Composing authors...</div>
<div class='progress-msg'>[09:46:04] Composing slugs...</div>
<div class='progress-msg'>[09:46:04] Composing menu order...</div>
<div class='progress-msg'>[09:46:04] Composing contents...</div>
<div class='progress-msg'>[09:46:04] Composing dates...</div>
<div class='progress-msg'>[09:46:04] Composing terms for `Product categories` taxonomy...</div>
<div class='progress-msg'>[09:46:04] Composing terms for `Product tags` taxonomy...</div>
<div class='progress-msg'>[09:46:04] Composing URLs for images...</div>
<div class='progress-msg'>[09:46:04] Composing URLs for attachments files...</div>
<div class='progress-msg'>[09:46:04] Composing unique keys...</div>
<div class='progress-msg'>[09:46:04] Processing posts...</div>
<div class='progress-msg'>[09:46:04] Data parsing via add-ons...</div>
<div class='progress-msg'>[09:46:04] Composing product data...</div>
<div class='progress-msg'>[09:46:04] Composing variations attributes...</div>
<div class='progress-msg'>[09:46:04] ---</div>
<div class='progress-msg'>[09:46:04] Record #1</div>
<div class='progress-msg'>[09:46:04] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:46:04] Combine all data for post `Brand Label`...</div>
<div class='progress-msg'>[09:46:04] Find corresponding article among previously imported for post `Brand Label`...</div>
<div class='progress-msg'>[09:46:04] Duplicate post wasn't found with unique key `Brand Label - Refurbished Part`...</div>
<div class='progress-msg'>[09:46:04] Applying filter `pmxi_article_data` for `Brand Label`</div>
<div class='progress-msg'>[09:46:04] <b>CREATING</b> `Brand Label` `Product`</div>
<div class='progress-msg'>[09:46:05] Associate post `Brand Label` with current import ...</div>
<div class='progress-msg'>[09:46:07] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:46:07] - Importing image `Additional Image Name` for `Brand Label` ...</div>
<div class='progress-msg'>[09:46:07] - Searching for existing image `Additional Image Name` by URL...</div>
<div class='progress-msg'>[09:46:07] - <b>WARNING</b>: Image Additional Image Name not found in media gallery.</div>
<div class='progress-msg'>[09:46:07] - Downloading image from `Additional Image Name`</div>
<div class='progress-msg'>[09:46:07] - <b>WARNING</b>: File Additional Image Name is not a valid image and cannot be set as featured one</div>
<div class='progress-msg'>[09:46:07] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[09:46:07] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[09:46:07] - Creating parent Product product_cat `Part Term Label` ...</div>
<div class='progress-msg'>[09:46:07] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[09:46:07] <b>CREATED</b> `Brand Label` `Product` (ID: 159)</div>
<div class='progress-msg'>[09:46:07] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:46:07] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:46:07] ---</div>
<div class='progress-msg'>[09:46:07] Record #2</div>
<div class='progress-msg'>[09:46:07] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[09:46:07] Combine all data for post `Air Lift`...</div>
<div class='progress-msg'>[09:46:07] Find corresponding article among previously imported for post `Air Lift`...</div>
<div class='progress-msg'>[09:46:07] Duplicate post wasn't found with unique key `Air Lift - N`...</div>
<div class='progress-msg'>[09:46:07] Applying filter `pmxi_article_data` for `Air Lift`</div>
<div class='progress-msg'>[09:46:07] <b>CREATING</b> `Air Lift` `Product`</div>
<div class='progress-msg'>[09:46:08] Associate post `Air Lift` with current import ...</div>
<div class='progress-msg'>[09:46:10] <b>IMAGES:</b></div>
<div class='progress-msg'>[09:46:10] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[09:46:10] - Importing taxonomy `product_cat` ...</div>
<div class='progress-msg'>[09:46:11] - Creating parent Product product_cat `Air Suspension Compressor` ...</div>
<div class='progress-msg'>[09:46:11] - Importing taxonomy `product_tag` ...</div>
<div class='progress-msg'>[09:46:11] <b>CREATED</b> `Air Lift` `Product` (ID: 160)</div>
<div class='progress-msg'>[09:46:11] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[09:46:11] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[09:46:11] Cleaning temporary data...</div>
