@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }
body {
background:#fff;
	font-size:12px;
	color: #222;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-family: 'Poppins', sans-serif !important;
	/****
		font-family: 'Oswald', sans-serif;
		font-family: 'Roboto', sans-serif;
		font-family: 'Poppins', sans-serif;
		font-family: 'Lato', sans-serif;
		font-family: 'Advent Pro', sans-serif;
		font-family: 'Arimo', sans-serif;
	****/}

/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */
#wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;}

.banner-container {margin: 0px 0 0 0;padding: 0;position: relative;}
.fluid_container { margin: 0 auto; max-width: 100%; width: 100%; }
.banner-container .camera_caption > div { background-color:transparent!important;}
.banner-container .camera_caption { width:100%; top:36%; left:auto; right:auto;}

.banner-container .camera_caption h2 {
    margin:70px auto 0 auto; padding: 70px 90px; color: #fff; font-size: 48px; background: rgba(0, 0, 0, 0.7); text-transform: uppercase; font-weight: 700; line-height: 32px; font-family: 'Oswald', sans-serif!important; display: inline-block; }


/*===== banner - changes ======*/

.banner-container .banner-div { margin:0; padding:0; position:relative;    top: 0px; }
.banner-container .banner-div .banner-caption {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    text-align: center;
    width: 100%;
}
.banner-caption h2{ margin:25px 0; padding:0;font-size:65px; color:#fff; font-weight:900; text-align:center; text-transform:capitalize;letter-spacing:6px;}
.banner-caption p {margin: 0;padding: 0 25%;font-size: 20px;color: #fff;text-align: center;line-height: 35px;font-weight: 600;letter-spacing: 1px;} 
.breadcrumb-p {display:inline-block;margin: 0;padding: 30% 0% 0 0;font-size: 16px;color: #fff;text-align: left;line-height: 35px;font-weight: 600;letter-spacing: 1px;} 
.gt-span{ padding:0 10px;font-size: 16px;color: #fff;text-align: left;line-height: 35px;font-weight: 600;letter-spacing: 1px;}

/* find */

.find_div{
	margin: 20px auto;
    padding: 10px;
    position: relative;
    background: #000;
	font-size: 16px;
	border-radius: 20px;
}
.round-black{padding: 10px 0;border-right:1px solid rgba(255, 255, 255, 0.349);}
.round-black-1{width:100%;padding: 10px 0;border-right:1px solid rgba(255, 255, 255, 0.349);}
.round-black-1 a{text-align: left!important;}
.round-black-1 i{float: right;padding: 0px 20px 0 0;}
.link-1{color: #fff;font-weight: 600!important;}
.link-1:hover{color: #fff;font-weight: 600;}

.input-1{width: 95%;background-color: transparent;border: none;color: #fff;outline:none;}
.input-2{width: 80%;background-color: transparent;border: none;color: #fff;outline:none;}

.btn.btn-transparent{background-color:transparent;color: #fff;padding: 8px 0px!important;font-weight: 600;outline: none!important;}
.btn.btn-transparent:hover,.btn.btn-transparent:focus {color: #fff;	text-decoration: none;}
.i-1{color: rgba(255, 255, 255, 0.6)}
.i-2{color: rgba(255, 255, 255, 0.6)}
.pl-2{padding-left: 10px;}

.btn-search {
    display: inline-block;padding: 10px 20px;margin-bottom: 0;font-size: 14px;font-weight: 600;line-height: 1.42857143;text-align: center;border-radius: 24px;background-color: #ce363c;border: none;outline: none;color: #fff;letter-spacing: 1px;	text-transform: capitalize;transition: all .3s ease-in-out;
}
.btn-search:hover,.btn-search:focus {
    background-color: #fff;color: #ce363c;transition: all .3s ease-in-out;
}

.btn-search span.span-1 {
    padding: 10px 0;
}

.img-search{widows: 50%;}

.banner-caption .open>.dropdown-menu {display: block;margin-top: 12px;padding: 5px 0;background: #000;color: #fff;width: 200px;z-index:4000;}
.banner-caption .dropdown-menu>li>a {display: block;padding: 6px 20px;clear: both;font-weight: 400;line-height: 1.42857143;color: #fff;white-space: nowrap;
    font-size: 16px;font-weight: 400;}
.banner-caption .dropdown-menu>li>a:hover,.banner-caption .dropdown-menu>li>a:focus {padding: 6px 25px;color: #fff;font-size: 16px;font-weight: 400;}


/*======*/

.header-div{ margin:0; padding:0px; position: relative; top:0; left:0; width:100%; z-index:10;background-color: #000;height: 150px; }
/*.fixed-header {
    background-color: #000; z-index: 100; padding-bottom: 15px;     position: fixed;
}*/
.fixed-header {
    background-color: #000;
    z-index: 100;
    padding-bottom: 0;
    position: fixed;
    height: 100px;
}
.logo-div {
    padding: 40px 20px 0 0;
    /*padding: 0;*/
    position: relative;
    float: left;
    top: 0;
    z-index: 15;
    display: block;
    height: 150px;
}
.logo-div-100 { height: 100px;padding: 15px 0 0 0;}

.nav-div { margin:0px 0 0 0; padding:0; position:relative; float:left;}
.nav-div .navbar {padding: 40px 0 0 0;min-height: auto;display: block;height: 150px;}
.nav-div .navbar-100{padding: 17px 0 0 0; height: 100px; }
.nav-div .navbar-nav {
    margin: 15px 0;
    padding: 0;
    float: left;
}
.navbar-nav>li>.dropdown-menu {margin: 0px 0 0!important;margin-top: 52px!important;border-radius: 0 0 0px 0px!important;font-family: 'Oswald', sans-serif!important; padding: 0 0!important; }
.navbar-nav>li>.dropdown-menu.mt-22{margin-top: 22px!important;}
.navbar-nav>li>.dropdown-menu.dropdown-menu-fullmenu { margin: 30px 0 0!important;margin-top: 52px!important;border-radius: 0 0 0px 0px!important;font-family: 'Oswald', sans-serif!important;padding: 0 0!important;min-width: 200px;max-width: 100%!important;
    position: fixed;width: 100%!important;left: 0;height: 420px;z-index: 99999;
}
.navbar-nav>li>.dropdown-menu.dropdown-menu-fullmenu.mt25 {margin-top: 25px!important;}

.content-menu{ padding: 0px; }
.content-menu .h3-title-menu{     font-family: 'Oswald', sans-serif!important;font-weight: 700;text-align: center;font-size: 18px;line-height: 28px; text-transform: uppercase;padding: 50px 0 0 0;}
.navbar-nav span.scroll-down-arrow { visibility: hidden!important;}
.content-menu .img-thumb{ margin: 0 auto; padding: 30px 0 0 0; }
.content-menu .img-thumb img{ margin: 0 auto;width: 40px; }
.content-menu .h4-footer{ font-size: 14px;font-weight: 400;padding: 10px;text-align: center;font-family: 'Roboto', sans-serif;color: #000;}
.content-menu .left-shape{ width: 0;height: 0;border-bottom: 420px solid #b21f23;border-left: 200px solid transparent;height: 100%;width: 100%;}	
.plr-0{padding-left: 0px!important;padding-right: 0px!important;}

.nav-div .navbar-nav > li {padding:0;}
.nav-div .navbar-nav > li > a { margin: 0 0px 0 15px; padding: 10px 0px 10px 0px; font-size: 14px; font-weight: 600; letter-spacing: 1px; color: #fff; text-transform: uppercase; line-height: normal!important;border-bottom: 1px solid transparent; }
.nav-div .navbar-nav > li.active a { color:#fff;border-bottom: 2px solid #ca2027;}
.nav-div .navbar-nav > li > a:hover, .nav-div .navbar-nav > li > a:focus,.nav-div .navbar-nav > li > a:active { background-color:transparent!important;color:#b01f23;border-bottom: 1px solid #b01f23;padding-bottom: 10px;}


.nav-div .navbar-nav > li.active .dropdown-menu { background:#fff!important;}
.nav-div .dropdown-menu > li > a {color:#000!important;border-top:1px solid #000!important; border-bottom:1px solid #000!important;font-size:16px; background:#fff!important; padding:10px;width: 250px;}
.nav-div .dropdown-menu > li:last-child > a { border-bottom:0!important;}
.nav-div .dropdown-menu > li > a:focus, .nav-div .dropdown-menu > li > a:hover {background:#b01f23!important; color:#fff!important;}
.nav-div .navbar-nav .collapsible ul.sm-nowrap > li > a {color:#243182; font-size:13px!important; text-transform:none!important;}
.nav-div .navbar-nav > li.active .dropdown-menu > li > a{ color:#243182; font-size:13px!important; text-transform:none!important;}

.logo-img{width: 155px; }

.content-area { margin:0px 0 0 0; padding:0; position:relative; z-index:1;}
.block-title-div{ margin:0 0 40px 0; padding:0;}
.block-title-div .line{  margin:0; padding:0; position:relative; background:#e2272e; height:1px; width:15%; }
.block-title-div h2{ margin:20px 0 0 0; padding:0; color:#041e42; font-size:32px; font-weight:700; text-transform:uppercase; letter-spacing:5px;}


.intro-div { margin:0; padding:0 0 40px 0; position:relative; z-index:10;}
.intro-div h3{ margin:70px 0 0 0; padding:0 20px 0 0; color:#041e42; font-size:32px; font-weight:700; text-transform:uppercase; line-height:40px; letter-spacing:2px; background:url(../images/trans-logo.png) center center no-repeat;}
.intro-div p{ margin:0 0 20px 0; padding:0; color:#041e42; font-size:14px; line-height:24px; font-weight:300;}

.right-div{margin: 0;position: relative;padding:40px 0 0 0;height: 150px;}
.right-div-100 {padding: 15px 0 0 0;height: 100px;}
.right-div .btn-default {padding:10px 0;color: #fff;background-color: #000;border-color: #000;font-size: 14px;outline: none!important;}
.right-div .btn-default > i{ padding: 0 0px 0 5px; }
.right-div .btn-default:hover,.right-div .btn-default:focus { color: #fff;background-color:transparent;border-color: transparent;outline: none!important;}
.right-div .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover,.btn-default:active, .open>.dropdown-toggle.btn-default{ color: #fff!important;background-color:transparent!important;border-color: transparent!important;outline: none!important;}
.right-div .p-right{ font-size: 14px;color: #797979;display: block;font-family: 'Oswald', sans-serif!important; }
.icon-div {float: left;margin: 0px 0 0 10px;padding-left: 20px;height: 60px;line-height: 60px;}
.icon-div i{color: #797979;text-align: center;font-size: 18px;}
.total-number{ color: #b21f23;padding: 10px 15px;margin: 0 0 0 10px;border:2px solid #b21f23;font-size: 14px; }

.dropdown-custom{ display: inline-block;float: left;margin: 0 0 0 0; }
.dropdown-custom ul.dropdown-menu { padding: 0px 0!important; }
.dropdown-custom ul.dropdown-menu > li { padding: 10px 0 10px 0; text-transform: uppercase; letter-spacing: 0.5px; font-size: 13px; background-color: #fff; color: #000; }
.dropdown-custom ul.dropdown-menu > li:hover { color:#fff;background-color: #b21f23; }
.dropdown-custom ul.dropdown-menu > li:hover > a{ color:#fff;}
.dropdown-custom ul.dropdown-menu > li > a { color:#000; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a.active{ padding-left: 20px!important;  }

/* footer div */

.footer-div{ margin:0; padding:60px 0 0 0; position:relative; background:#000;}
.footer-div .footer-top{ margin:0; padding:0 0 20px 0;}
.footer-div .footer-top h3{ margin:0 0 0px 0; padding:0 0 20px 0;color:#fff; font-size:18px; text-transform:uppercase; font-weight:600;letter-spacing:1px;line-height: 1.6;}
.footer-div .h3-footer{ padding:30px 0 10px 0!important;  }
.footer-div .footer-top ul{ margin:0; padding:0; list-style:none;}
.footer-div .footer-top ul li { margin:0; padding:0; color:#707070; font-size:13px;list-style:none; font-weight:600; line-height:24px;}
.footer-div .footer-top ul li a{ color:#fff;font-weight: 500;font-size: 13px;text-transform: uppercase;letter-spacing: 0.5;}
.footer-div .footer-top ul li a:hover { color:#fff; border-bottom:1px solid #fff;}
.footer-div .footer-top p { margin:0; padding:0; color:#fff; font-size:13px; font-weight:500; line-height:24px;}
.footer-div .footer-top p a{ color:#707070;font-weight: 600;}
.footer-div .footer-top p a:hover { color:#fff; border-bottom:1px solid #fff;}
.footer-div .social-icon{margin:20px 0 0 0; padding:0px 0 0 0; position:relative;}
.footer-div .social-icon a:hover { color:#fff; border:0px solid #fff!important;}
.footer-div i.fab {padding: 10px 10px;margin:0 8px 0 0;text-align:center;background: #444444;width: 31px;height: 31px;border-radius: 24px;color: #fff;border: none;font-weight: 400;transition: all .3s ease-in-out;}
.footer-div i.fab:hover {background: #fff;color: #444444;}

.footer-div .white-line{margin: 0px 0 25px 0;padding: 0;position: relative;background: #fff;height: 1px;width: 55%;border-radius: 50em;}

.footer-div .footer-btm {
    margin: 0; padding: 25px 0; background-color: #b21f23; color: #fff; 
}
.footer-div .footer-btm .copy-txt {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    width: 100%;
}
.font-600{ font-weight: 700;  }

.form-control-10{ padding: 10px 10px!important;height: 45px!important;border-radius: 0px!important; }
.footer-div .img-width-150{ width: 150px!important; }
.footer-div .input-box-footer{ padding: 20px 0 0 0; }
.btn-scbscribe{ margin:10px 0!important;padding: 10px 15px!important;background-color: #b21f23!important;color: #fff!important;border-radius: 0!important;border-color: #b21f23!important;text-transform: capitalize;}
.footer-div .footer-btm .footer-social{ margin:0; padding:0; display:inline-block; text-align:right; float:right;}
.footer-div .footer-btm .footer-social a{ margin:0 0 0 10px; background:#05295a; border-radius:100%; width:40px; height:40px; display:inline-block; color:#fff; font-size:14px; text-align:center; line-height:40px;}
.footer-div .footer-btm .footer-social a:hover { background:#fff; color:#05295a;}

/* end of footer */

/* ============ ======================= =========================== */

/* animated scroll */

  .icon-scroll,
  .icon-scroll:before {
	position: absolute;
	left: 50%;
  }
  .icon-scroll {
	width: 33px;
	height: 45px;
	margin-left: -20px;
	top: 50%;
	margin-top: -35px;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 25px;
  }
  .icon-scroll:before {
	content: '';
	width: 8px;
	height: 8px;
	background: #fff;
	margin-left: -4px;
	top: 8px;
	border-radius: 4px;
	-webkit-animation-duration: 1.5s;
			animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
	-webkit-animation-name: scroll;
			animation-name: scroll;
  }
  @-webkit-keyframes scroll {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	  -webkit-transform: translateY(20px);
			  transform: translateY(20px);
	}
  }
  @keyframes scroll {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	  -webkit-transform: translateY(20px);
			  transform: translateY(20px);
	}
  }
  

/* end of animated scroll */



#back-to-top { margin:0; padding:0; position:absolute; left:50%; right:auto; bottom:20px; cursor:pointer;}
#back-to-top span { margin:0; padding:0; position:relative; border-radius:100%; width:40px; height:40px; text-align:center; line-height:40px; color:#05295a; font-size:18px; font-weight:700; background:#fff; display:inline-block;}

.down-arrow-div { margin:0 auto; padding:0; position:absolute; bottom: 75px; left:0; right:0; text-align:center; width:23px; z-index:10; cursor:pointer;}
.down-arrow-div .down-arrow {
    margin: 0 auto;
    padding: 0;
    /* background: url(../images/down-arrow.png) no-repeat;
    width: 33px;
    height: 45px; */
    display: block;
    text-align: center;
}

.inner-banner-container{ margin:0 auto; padding:0; position:relative; background:#041e42 url(../images/inner-header-bg.jpg) no-repeat center center; height:200px;}
.inner-banner-div { margin:100px auto 0 auto; padding:30px 0 40px 0; position:relative; border-top:1px solid #1b3c69;}
.inner-banner-div h3 { margin:0; padding:0; color:#fff; font-size:22px; text-transform:uppercase;}

.company-img-div { margin:0; padding:0; position:absolute; right:0; top:0; width:50%; z-index:1;}
.w-100 { width:100%;}
.products-list-container  { margin: :0; padding:0; position: relative;}

.camera_wrap, .fluid_container { height:500px;    margin: -40px 0 -40px 0;}

.general-txt-container { margin:0; padding:0 0 50px 0; position:relative;}
.general-txt-container .general-block-div{ margin:0; padding:0; position:relative;}
.general-txt-container .img-div { margin:0 0 20px 0; padding:0;}
.general-txt-container .desc-div{ margin:0; padding:0;}
.general-txt-container .desc-div h3{ margin:0 0 15px 0; padding:0; color:#041e42; font-size:18px; font-weight:700; text-transform:uppercase;}
.general-txt-container .desc-div p{ margin:0 0 15px 0; padding:0; color:#666; font-size:14px; font-weight:300; line-height:24px;}
.general-txt-container .desc-div .sub-ul { margin: 15px 0; padding: 0; color:#666;font-size: 14px; line-height: 24px; font-weight:300; display: block;}
.general-txt-container .desc-div .sub-ul li{ margin: 0 10px 5px 0; padding: 5px 30px; color:#666;font-size: 14px; line-height: 24px; font-weight:300;
	display: inline-block; border-radius: 42px; border:1px solid #ddd;
}
.general-txt-container .desc-div .sub-ul li a{ color:#041e42;}
.general-txt-container .desc-div .sub-ul li a:hover{ color:#e2272e;}

/* start to middle container */

.nopadding{padding: 0!important;}



/*  ============== end of About us ==================  */

.camera_overlayer {background: none !important; }
/*.camera_wrap .camera_pag .camera_pag_ul {
    list-style: none;
    margin: 0 auto!important;
    padding: 0;
    width: 100%;
    text-align: center!important;
    position: absolute;
    top: 75%;
}

.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
    background: #ca2027!important;
}
.camera_wrap .camera_pag .camera_pag_ul li {
    background: #fff!important;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover {
    background: #ca2027!important;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
    background: #ca2027!important;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
    background: transparent!important;
}

.camera_wrap .camera_pag .camera_pag_ul li {
    -webkit-border-radius: 8px!important;
    -moz-border-radius: 8px!important;
    border-radius: 8px!important;
    height: 8px!important;
    margin: 20px 5px!important;
    width: 8px!important;
}

.camera_wrap .camera_pag .camera_pag_ul li > span {
   display:none;
}
*/

.camera_prev{ background-color: #000;height: 50px!important;padding: 6px 0 0 0!important; left: 20px!important;border-radius: 4px;}
.camera_next{ background-color: #000;height: 50px!important;padding: 6px 0 0 0!important; right: 30px!important;border-radius: 4px;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #fff;
font-size:14px;
}
::-moz-placeholder { /* Firefox 19+ */
color: #fff;
font-size:14px;
}
:-ms-input-placeholder { /* IE 10+ */
color: #fff;
font-size:14px;
}
:-moz-placeholder { /* Firefox 18- */
color: #fff;
font-size:14px;
}

/*  ============== end of Blog ==================  */


/* end of middle container */

.fw-600{font-weight:600!important;}
.p0{
    padding: 0 0!important;
}

.dot {
    padding: 0!important;
    height: 10px;
    width: 10px;
    margin: 0 5px 0 5px;
    position: relative;
    display: inline-block;
    background: #d0d0d0;
    border-radius: 100%;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}


/**  Strating a HTML  **/

.top-section{ padding: 0px;margin:0;position: relative; }
.top-header{ padding: 4px 0 0 0;margin:0;position: relative;background-color:#2a2a2a;height: 60px;display: flex;justify-content: center;align-items:center; }
.top-header p{ padding: 15px 0px;margin:0;color: #d0d0d0;font-weight: 400;font-size: 14px;text-transform: uppercase;}
.top-header .left-div-top{ padding: 0;margin: 0; }
.top-header .left-div-top a{ color: #d0d0d0;outline: none; }
.top-header .middle-div-top{ padding: 0;margin: 0; }
.top-header .middle-div-top p{display: inline-block; }
.top-header .middle-div-top .red_link{color: #b21f23;font-weight: 400;}
.top-header .right-div-top{ padding: 2px 0 0 0;margin: 0;background-color: #d0d0d0;position: relative; }
	
.top-header .right-div-top input[type="text"]:focus:hover {border-bottom:1px solid #fff; }
.top-header .right-div-top input[type="text"]:focus {width: 100%;opacity: 1; z-index: 1; border-bottom:1px solid #fff; cursor: text; }
.top-header .right-div-top input[type="submit"] {font-size:14px;height: 40px;padding: 10px; display: inline-block;float: left; border: none; position: relative; top: 0; left:0; z-index: 2; cursor: pointer; opacity: 1; cursor: pointer; transition: opacity .4s ease;color: #010000; outline: none;text-transform: uppercase;}
.top-header .right-div-top input[type="submit"]:hover { opacity: 1;}

.search_div{height: 40px; font-size: 14px; display:block;cursor: pointer;margin: 0 0 0 0!important; }
.search_div .form-control {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0px 0 0px 0;
    padding: 6px 12px;
    color: #000;
    background-color: #d0d0d0;
    background-image: none;
    border: 1px solid #d0d0d0;
    border-radius: 0px;
    -webkit-box-shadow: !important;
    box-shadow: none!important;    
}

.search_div ::-webkit-input-placeholder {color: #000!important;font-size:14px;}
.search_div ::-moz-placeholder {color: #000!important;font-size:14px;}
.search_div ::-ms-input-placeholder {color: #000!important;font-size:14px;}
.search_div ::-moz-placeholder {color: #000!important;font-size:14px;}



/******/


/*  ============== About us ==================  */

h2.h2-title{margin:0; padding:10px 0; color:#000; font-size:50px; text-transform:uppercase;font-weight: 600;font-family: 'Oswald', sans-serif!important;display: inline-block;}
.h2-title .black-line {  margin: 15px 0 50px 0;padding: 0;position: relative;background: #000;height: 5px;width: 110px;border-radius: 50em;}

.about_us_section{margin: 0;padding: 0;position: relative;}
.about_us_div{margin: 0;padding: 100px 0 80px 0;position: relative;}
.about_us_div .middle-center{padding: 0 0px;}
.about_us_div .middle-center h3 {
    padding: 0 0px; margin: 0 0 40px 0 ; font-weight: 600; font-size: 15px; color: #000; text-transform: uppercase; text-align: left; line-height: 37px; letter-spacing: 0.70px; 
}
.about_us_div .middle-center .p-one {
    padding: 0 0px; margin: 0 0 40px 0 ; font-weight: 600; font-size: 14px; color: #757575; text-align: left; line-height: 26px; letter-spacing: 0.50px; 
}
.about_us_div .middle-center .p-two {
    padding: 0 0px; margin: 0 0 40px 0 ; font-weight: 600; font-size: 14px; color: #000; text-align: left; line-height: 26px; letter-spacing: 0.50px;  text-transform: uppercase; 
}


.partner_section{margin: 0;padding: 0;position: relative;}
.partner_div{margin: 0;padding: 100px 0 80px 0;position: relative;}

.partner_div .slider-div .owl-theme .owl-nav .owl-prev {
    height: 40px; width: 40px;padding: 20px; position: absolute; left: -50px; outline: none; 
}
.partner_div .slider-div .owl-theme .owl-nav [class*=owl-]:hover{
    background-color: transparent;
}

.partner_div .slider-div .owl-theme .owl-nav .owl-next {
    height: 40px; width: 40px; padding: 20px; position: absolute; right: -50px; outline: none;
}
.partner_div .slider-div .owl-theme .owl-nav {
    margin-top: 0px; position: absolute; top: 0px; width: 100%; display: flex; align-items: center; height: 100px; } 
.partner_div .slider-div {    padding: 0;margin: 0;}

.partner_div .slider-div .owl-theme .owl-nav .owl-prev > span,.partner_div .slider-div .owl-theme .owl-nav .owl-next > span {
    font-size: 42px; color: #000000; margin-top: 0; top: 0; margin: 0; padding: 0; font-weight: 600;
}
.partner_div .owl-carousel .owl-item img {
    display: block; width: 200px; padding: 20px 0px; margin: 0 auto;
}


.service_section{margin: 0;padding: 0;position: relative;}
.service_div{margin: 0;padding: 0px 0 0px 0;position: relative;}
.service_div .gallery_div{margin: 0 -15px;padding: 0px 0;position: relative;background-color: #eee;}

.col-4{ padding: 0 0!important;}
.block-div{ display: block;width: 100%;  }

.our_service_div {margin: 0; padding: 0; position: relative; background: #000; z-index: 10; cursor: pointer; }
.our_service_div img {margin: 0 0 0px 0;width: 100%;height: 100%;}
.our_service_div .overlay {
    position: absolute; top: 0%; left: 0; height: 100%; width: 100%; text-align: center; background: rgba(0,0,0,0.7); opacity: 1; -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s; 
}
.our_service_div .overlay .text-middle {
    position: absolute; top: 35%; text-align: center; margin: 0 auto; width: 100%; display: block; 
}
.our_service_div .overlay h3 {padding: 10px 0 20px 0;text-align: center; color: #fff; font-size: 35px; font-weight:600;position: relative; opacity: 1;font-family: 'Oswald', sans-serif!important;text-transform: uppercase;line-height: 1.4;}
.our_service_div .overlay a{padding: 10px 0;text-align: center; color: #fff; font-size: 30px; font-weight:700;position: relative; opacity: 1;text-transform: uppercase;border-bottom: 2px solid #fff;}
.our_service_div:hover .overlay {opacity: 1;z-index: 11;}

.our_service_div.bg-red {margin: 0; padding: 0; position: relative; background: #000; z-index: 10; cursor: pointer; }
.our_service_div img.img-red {width:100%;height: 100%!important;}
.our_service_div.bg-red .overlay {
    position: absolute; top: 0%; left: 0; height: 100%; width: 100%; text-align: center; background:rgba(178, 31, 35, 0.7); opacity: 1; -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s;
}
.our_service_div.bg-red .overlay .text-middle {
    position: absolute; top: 40%; text-align: center; margin: 0 auto; width: 100%; display: block; 
}

.our_service_div.bg-red .overlay h3 {padding: 10px 0 20px 0;text-align: center; color: #fff; font-size: 35px; font-weight:600;position: relative; opacity: 1;font-family: 'Oswald', sans-serif!important;text-transform: uppercase;line-height: 1.4;}
.our_service_div.bg-red .overlay a{padding: 10px 0;text-align: center; color: #fff; font-size: 30px; font-weight:700;position: relative; opacity: 1;text-transform: uppercase;border-bottom: 2px solid #fff;}
.our_service_div.bg-red:hover .overlay {opacity: 1;z-index: 11;}

.our_service_div.div-black .overlay2 .text-middle {
    position: absolute;
    top: 30%;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 0px 0 0 0;
    display: block;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.our_service_div.div-black .overlay2 h3 {padding: 10px 0 20px 0;text-align: center; color: #fff; font-size: 35px; font-weight:600;position: relative; opacity: 1;font-family: 'Oswald', sans-serif!important;text-transform: uppercase;line-height: 1.4;}
.our_service_div.div-black .overlay2 a{padding: 10px 0;text-align: center; color: #fff; font-size: 30px; font-weight:700;position: relative; opacity: 1;text-transform: uppercase;border-bottom: 2px solid #fff;}
.our_service_div.div-black:hover .overlay2 {opacity: 1;z-index: 11;}



.top-40{ top:40%!important; }

.part_finder_section{margin: 0;padding: 0;position: relative;}
.part_finder_div{margin: 0;padding: 80px 0 80px 0;background-color: #b21f23;}
.part_finder_div h2{margin: 0;padding: 0px;color:#fff;font-size: 26px;line-height: 37px;letter-spacing:0px;text-transform: uppercase;font-weight: 400;}
.part_finder_div h3{margin: 0;padding: 0px;color:#fff;font-size: 20px;line-height: 37px;letter-spacing: 0.9px!important;text-transform: uppercase;font-weight: 400;}
.part_finder_div h3 > span.border-center {background-color: #fff;height: 2px;float: right;margin: 16px 0 0 0;width: 110px; display: block;}

.part_finder_div .textbox-custom{
    display: block; width: 100%;margin: 5px 0 0 0; height: 40px; padding: 10px 0px; font-size: 14px; line-height: 1.42857143; color: #fff; background-color: transparent;border: none; border-bottom: 1px solid #fff; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; 
}
.part_finder_div .textbox-custom:focus,.part_finder_div .textbox-custom:hover{ 
	border-color: #fff; outline: 0; -webkit-box-shadow: none; box-shadow: none; 
}
.part_finder_div .colon-white{ color: #fff;font-size: 14px;position: absolute;top: 0;right: 0;    top: 15px;right: 5px; }
.part_finder_div .relative{ position: relative;  }
.part_finder_div .search-box{margin: 10px 0 0 0;height: 40px;width: 40px; display: inline-block;padding: 0px;background-color: #000;transition: all 0.4s ease-in-out;border:none;outline: none;}
.part_finder_div .search-box:hover{background-color: #fff;border-radius: 4px; }
.part_finder_div .search-box > i {
    color: #b21f23; font-size: 18px; line-height: 40px; text-align: center; display: block; 
}

.part_finder_div ::-webkit-input-placeholder {color: #fff!important;font-size:14px;}
.part_finder_div ::-moz-placeholder {color: #fff!important;font-size:14px;}
.part_finder_div ::-ms-input-placeholder {color: #fff!important;font-size:14px;}
.part_finder_div ::-moz-placeholder {color: #fff!important;font-size:14px;}

/*****/

.last {
    margin: 0 5px 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.menu-bars {
    display: none;
}
.menu-bars {
    background: url(../jess/assets/images/bars-solid.svg) no-repeat;
    width: 21px;
    height: 23px;
    vertical-align: middle;
}
.sidenav {   display: none;}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: #00134d;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    margin-left: 50px;
    color: #fff;
    font-size: 44px;
    font-weight: 300;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.mobile-hidden{ display: block!important; }
.desktop-hidden{ display: none!important; }

.middle-div-top > p > span.dot + span:before {
    content: '';
    background: #ca2027!important;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px 0 5px;
}



/* megamenu */

/*.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}*/
/*
.nav-div .dropdown-megamenu {
    margin: 0 0px 0 0px;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
	position: relative;
	overflow: hidden;
    display: inline-block!important;
}

.dropdown-megamenu .dropbtn {
    font-size: 14px!important;    
    outline: none;
    color: white;
	padding: 0px 0px 0px 0px;
	margin: 0 0 0 15px!important;
    background-color: inherit;
    font: inherit;
	margin: 0;
	
}

.dropdown-megamenu .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    margin-top: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-megamenu:hover .dropdown-content {
    display: block;
}
/*

.dropdown-megamenu .column {
    float: left;
    padding: 10px;
    background-color: #b21f23;
    height: 360px;
}
/*
.dropdown-megamenu .column a {
    float: none;
    color: black;
    padding: 14px;
    text-decoration: none;
    display: block;
    text-align: left;
}
*/
/*
.dropdown-megamenuv .column a:hover {
    background-color: #ddd;
}*/

/*
.dropdown-megamenu .row:after {
    content: "";
    display: table;
    clear: both;
}

/* End of megamenu */

#preloader{
    position:fixed;
}
#preloader{
    top:0;
}
#preloader{
    left:0;
}
#preloader{
    right:0;
}
input,select,textarea{
    outline:none;
}
::-webkit-scrollbar{
    width:.052083333in;
}
#preloader{
    bottom:0;
}
::-webkit-scrollbar-track{
    background:#f1f1f1;
}
#preloader{
    background-color:#fff;
}
#preloader{
    z-index:99999;
}
#status{
    position:absolute;
}
::-webkit-scrollbar-thumb{
    background:#888;
}
input,textarea,select{
    font-family:"Poppins",sans-serif;
}
#status{
    left:46%;
}
#status{
    top:40%;
}
#status{
    border-left-width:3.75pt;
}
#status{
    border-bottom-width:3.75pt;
}
::placeholder{
    color:#1a2a38;
}
#status{
    border-right-width:3.75pt;
}
#status{
    border-top-width:.052083333in;
}
#status{
    border-left-style:solid;
}
#status{
    border-bottom-style:solid;
}
#status{
    border-right-style:solid;
}
#status{
    border-top-style:solid;
}
#status{
    border-left-color:#f3f3f3;
}
#status{
    border-bottom-color:#f3f3f3;
}
#status{
    border-right-color:#f3f3f3;
}
#status{
    border-top-color:#b21f23;
}
::placeholder{
    opacity:1;
}
#status{
    border-image:none;
}
:-ms-input-placeholder{
    color:#1a2a38;
}
::-ms-input-placeholder{
    color:#1a2a38;
}
#status{
    border-radius:50%;
}
#status{
    width:75pt;
}
#status{
    height:75pt;
}
#status{
    -webkit-animation:spin 2s linear infinite;
}
#status{
    animation:spin 2s linear infinite;
}
::-webkit-scrollbar-thumb:hover{
    background:#555;
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
    }
}
@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

/*==============================================================================================================================================*/

@media only screen and (max-width: 767px){
	.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	
	.navbar-toggle .icon-bar {
	    background: #fff;
	}
	.camera_wrap, .fluid_container {
	    height: 350px;
	    margin: -40px 0 -40px 0;
	}
	.banner-container .camera_caption h2 {
	    margin: 0px auto 0 auto;
	    padding: 20px 10px;
	    color: #fff;
	    font-size: 18px;
	 	display: block;
	 	letter-spacing: 0.6px !important;
	}
	.banner-container .banner-div .banner-caption {
	    left: 0;
	 }
	 h2.h2-title {
	    font-size: 24px;
	}
	.h2-title .black-line {
	    margin: 10px 0 20px 0;
	    height: 2px;
	    width: 40px;
	}
	.about_us_div .middle-center h3{line-height: 22px!important;margin: 0 0 20px 0;text-align: center;}
	.about_us_div .middle-center .p-one{line-height: 22px!important;margin: 0 0 20px 0;text-align: center;}
	.about_us_div .middle-center .p-two{line-height: 22px!important;margin: 0 0 20px 0;text-align: center;}
	.our_service_div .overlay h3{ font-size: 18px; }
	.our_service_div .overlay a{ font-size: 18px;border-bottom: 1px solid #fff;font-weight: 400; }
	.our_service_div.bg-red .overlay h3{ font-size: 18px; }
	.our_service_div.bg-red .overlay a{ font-size: 18px;border-bottom: 1px solid #fff;font-weight: 400; }
	.partner_div .owl-carousel .owl-item img {width: 140px;}
	.dropdown-custom { display: none;	}
	.navbar-collapse.in { background-color: #000; }
	.part_finder_div .search-box { display:block;margin: 20px auto 0px auto;}

	.our_service_div.div-black .overlay2 h3 {
		font-size: 18px;
	}
	.our_service_div.div-black .overlay2 a { font-size: 18px; }
	.our_service_div.div-black .overlay2 .text-middle{ height: 300px; }
	.our_service_div.bg-red .overlay .text-middle {		top: 35%;display: block;}
	
	.navbar-toggle {display: none;}		
	.sidenav {display: block;}
    .menu-bars{display: block;}

	.logo img {margin-top:0px;}
    .logo {width: 250px;padding:15px 0;}
    .nav-div ul {display: none !important;}
    .nav-div .login-sign-div{display: none !important;}/* url(../images/menubar.png) no-repeat; */
    .menu-bars { width: 40px;height: 25px;margin-top: 20px;display: inline-block;vertical-align: middle;transition: all .3s ease-in-out;}
    .sidenav {height: 100%;background-color: #000;}
    .menu-logo img{     width: 165px;margin: 0 0 0 15px; }
    .right-menulinks{ padding: 20px 0;margin: 0; }
    .sidenav a {padding: 8px 8px 8px 8px;margin: 0 auto;transition: 0.3s;color: #fff;font-size: 16px;}
    .nav>li>a:hover {text-decoration: none;color: #000;}
    .nav.collapse.in {background: rgba(34, 34, 34, 0.685);}
    .nav>li>a {padding: 15px 0 15px 25px!important;}
    .footer-box {border-right: 0px solid #fff;}
	.nav-div .navbar {margin: 40px 0px 0px 45px;padding: 0;min-height: auto;display: block;height: 100px;}
	.logo-div {	height: 100px;	}
	.header-div {	height: 150px;}
	.nav-div {position: absolute;float: right;z-index: 9999;}

	.sidenav p.p-right {	color: #fff;padding: 5px 20px;}
	.sidenav .dropdown-custom {	display: block;padding: 20px 10px;width: 100%;margin: 0 0 0px 0;}
	.sidenav .dropdown-custom a{ color: #fff;padding: 10px 20px 5px 20px; }


	/* end of menu */

	.top-header {height: 100%;display: block;padding: 0 0 20px 0;}
	.top-header p { padding: 15px 0px 0px 0;font-size: 12px;	}	
	.top-header .middle-div-top {padding: 0 0 10px 0;	margin: 0;}

	.logo-big{ width: 200px;}
	.logo-ul {
		padding: 10px;
		margin: -70px 0 10px 0;
		border-bottom: 1px solid #222;
	}
	.sidenav .closebtn {
		position: absolute;
		top: 20px;
		right: 20px;
		background: #b21f23;
		margin-left: 50px;
		border-radius: 100%;
		color: #fff;
		height: 50px;
		font-size: 32px;
		font-weight: 300;
		width: 50px;
		line-height: 36px;
		text-align: center;
	}
	
	.mobile-hidden{ display: none!important; }
	.desktop-hidden{ display: block!important; }
	.footer-div .footer-top h3 { margin: 20px 0 0px 0;	}
	
	.dot { display: none; }

	/* megamenu */
	
	.content-menu{ padding: 0px; }
	.plr-0{padding-left: 0px!important;padding-right: 0px!important;}
	.content-menu .h3-title-menu{ color: #fff;     padding: 0px 0 0 0;}
	.content-menu .h4-footer {	color: #fff; }
	a.link-box {height: 150px;}
	a.link-box:hover {background-color: #000;}
	.content-menu .img-thumb { margin: 0 auto;padding: 30px 0 0 0;height: 75px;}
	.col-xs-12.plr-0.content-menu {padding: 50px 0 50px 0;}

	/* End of megamenu */

	[data-aos^=fade][data-aos^=fade] {
		opacity: 1!important;
	}
	[data-aos=fade-up] {
		transform: translate3d(0,0px,0)!important;
	}
	/*.about_us_div {
		margin: 0;
		padding: 0px 0 80px 0;
		position: relative;
		height: 970px;
	}*/
	.banner-container .banner-div .banner-caption {top: 120px;}


}
@media only screen and (min-width: 320px) and (max-width: 480px) {

	

}
@media only screen and (min-width: 480px) and (max-width: 640px) {

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	
	.nav-div { position: absolute;float: right;}
	.navbar-toggle .icon-bar {
	    background: #fff;
	}
	.camera_wrap, .fluid_container {
	    height: 350px;
	    margin: -40px 0 -40px 0;
	}
	.banner-container .camera_caption h2 {
	    margin: 0px auto 0 auto;
	    padding: 20px 10px;
	    color: #fff;
	    font-size: 18px;
	 	display: block;
	 	letter-spacing: 0.6px !important;
	}
	.banner-container .banner-div .banner-caption {
	    left: 0;
	 }
	 h2.h2-title {
	    font-size: 24px;
	}
	.h2-title .black-line {
	    margin: 10px 0 20px 0;
	    height: 2px;
	    width: 40px;
	}
	.about_us_div .middle-center h3{line-height: 22px!important;margin: 0 0 20px 0;text-align: center;}
	.about_us_div .middle-center .p-one{line-height: 22px!important;margin: 0 0 20px 0;text-align: center;}
	.about_us_div .middle-center .p-two{line-height: 22px!important;margin: 0 0 20px 0;text-align: center;}
	.our_service_div .overlay h3{ font-size: 18px; }
	.our_service_div .overlay a{ font-size: 18px;border-bottom: 1px solid #fff;font-weight: 400; }
	.our_service_div.bg-red .overlay h3{ font-size: 18px; }
	.our_service_div.bg-red .overlay a{ font-size: 18px;border-bottom: 1px solid #fff;font-weight: 400; }
	.partner_div .owl-carousel .owl-item img {width: 140px;}
	.part_finder_div h3 { font-size: 14px;line-height: 22px;}
	.part_finder_div h2 {font-size: 18px;line-height: 22px;}
	.part_finder_div {padding: 40px 0 40px 0;}
	.top-header { height: 100%;display: block; }
	.top-header p { padding: 5px 0px; font-size: 11px; }
	.top-header .left-div-top p { padding: 15px 0px 0 0;}
	.search_div .form-control {height: 45px;}
	.nav-div .navbar { margin: 0; padding: 0; min-height: auto; display: block; justify-content: center; align-items: center; height: 150px; }
	.navbar-collapse.in { background: #000;}

	.our_service_div.div-black .overlay2 h3{ font-size: 18px; }
	.our_service_div.div-black .overlay2 a{ font-size: 18px;font-weight: 400; }
	.our_service_div .overlay .text-middle {top: 30%;}

	.mobile-hidden{ display: block!important; }
	.desktop-hidden{ display: none!important; }
	.our_service_div.div-black .overlay2 .text-middle { height: 250px;}
	
	.navbar-toggle {display: none;}		
	.sidenav {display: block;}
    .menu-bars{display: block;}

	.logo img {margin-top:0px;}
    .logo {width: 250px;padding:15px 0;}
    .nav-div ul {display: none !important;}
    .nav-div .login-sign-div{display: none !important;}/* url(../images/menubar.png) no-repeat; */
    .menu-bars { width: 40px;height: 25px;margin-top: 20px;display: inline-block;vertical-align: middle;transition: all .3s ease-in-out;}
    .sidenav {height: 100%;background-color: #000;}
    .menu-logo img{     width: 165px;margin: 0 0 0 15px; }
    .right-menulinks{ padding: 20px 0;margin: 0; }
    .sidenav a {padding: 8px 8px 8px 8px;margin: 0 auto;transition: 0.3s;color: #fff;font-size: 16px;}
    .nav>li>a:hover {text-decoration: none;color: #000;}
    .nav.collapse.in {background: rgba(34, 34, 34, 0.685);}
    .nav>li>a {padding: 15px 0 15px 25px!important;}
    .footer-box {border-right: 0px solid #fff;}
	.nav-div .navbar {margin: 40px 0px 0px 45px;padding: 0;min-height: auto;display: block;height: 100px;}
	.logo-div {	height: 100px;	}
	.header-div {	height: 150px;}
	.nav-div {position: absolute;float: right;z-index: 9999;}
	/* end of menu */

	.logo-big{ width: 200px;}
	.logo-ul { padding: 10px;margin: -70px 0 10px 0;border-bottom: 1px solid #222;}
	.sidenav .closebtn {position: absolute;top: 20px;right: 20px;background: #b21f23;margin-left: 50px;border-radius: 100%;color: #fff;height: 50px;font-size: 32px;font-weight: 300;width: 50px;line-height: 36px;text-align: center;}
	.footer-div .footer-top .social-icon ul li {	width: 23%;margin: 0 0 10px 0;}

	.sidenav p.p-right {	color: #fff;padding: 5px 15px;}
	.sidenav .dropdown-custom {	display: block;padding: 15px 10px;width: 100%;margin: 0 0 0px 0;}
	.sidenav .dropdown-custom a{ color: #fff;padding: 10px 15px 5px 15px; }

	.dot { display: none; }
	/* megamenu */
	
	.content-menu{ padding: 0px; }
	.plr-0{padding-left: 0px!important;padding-right: 0px!important;}
	.content-menu .h3-title-menu{ color: #fff;     padding: 0px 0 0 0;}
	.content-menu .h4-footer {	color: #fff; }
	a.link-box {height: 150px;}
	a.link-box:hover {background-color: #000;}
	.content-menu .img-thumb { margin: 0 auto;padding: 30px 0 0 0;height: 75px;}
	.col-xs-12.plr-0.content-menu {padding: 50px 0 50px 0;}

	/* End of megamenu */

	[data-aos^=fade][data-aos^=fade] {
		opacity: 1!important;
	}
	[data-aos=fade-up] {
		transform: translate3d(0,0px,0)!important;
	}
	.partner_div .slider-div .owl-theme .owl-nav .owl-prev{left: -15px;}
	.partner_div .slider-div .owl-theme .owl-nav .owl-next{right: -15px;}
	.partner_div .slider-div .owl-theme .owl-nav {	top: -11px;}

	.about_us_div {	padding: 60px 0 40px 0;}
	.partner_div {	padding: 60px 0 40px 0;}
		

}	


@media only screen and (width: 980px){

}
@media only screen and (width: 1024px){
	
	
}
@media only screen and (min-width: 1024px) and (max-width: 1542px) {
}
@media only screen and (min-width: 900px) and (max-width: 1440px) {

}

