<div class='progress-msg'>Mon, 15 Oct 2018 11:02:52 +0000</div>
<div class='progress-msg'>[11:02:52] Composing titles...</div>
<div class='progress-msg'>[11:02:52] Composing excerpts...</div>
<div class='progress-msg'>[11:02:52] Composing duplicate indicators...</div>
<div class='progress-msg'>[11:02:52] Composing authors...</div>
<div class='progress-msg'>[11:02:52] Composing slugs...</div>
<div class='progress-msg'>[11:02:52] Composing menu order...</div>
<div class='progress-msg'>[11:02:52] Composing contents...</div>
<div class='progress-msg'>[11:02:52] Composing dates...</div>
<div class='progress-msg'>[11:02:52] Composing terms for `Product categories` taxonomy...</div>
<div class='progress-msg'>[11:02:52] Composing terms for `Product tags` taxonomy...</div>
<div class='progress-msg'>[11:02:52] Composing URLs for images...</div>
<div class='progress-msg'>[11:02:52] Composing URLs for attachments files...</div>
<div class='progress-msg'>[11:02:52] Composing unique keys...</div>
<div class='progress-msg'>[11:02:52] Processing posts...</div>
<div class='progress-msg'>[11:02:52] Data parsing via add-ons...</div>
<div class='progress-msg'>[11:02:52] Composing product data...</div>
<div class='progress-msg'>[11:02:52] Composing variations attributes...</div>
<div class='progress-msg'>[11:02:52] ---</div>
<div class='progress-msg'>[11:02:52] Record #1</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[11:02:52] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[11:02:52] Combine all data for post ``...</div>
<div class='progress-msg'>[11:02:52] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[11:02:52] Duplicate post wasn't found with unique key ` - FDHC`...</div>
<div class='progress-msg'>[11:02:52] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[11:02:52] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[11:02:52] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[11:02:52] ---</div>
<div class='progress-msg'>[11:02:52] Record #2</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[11:02:52] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[11:02:52] Combine all data for post ``...</div>
<div class='progress-msg'>[11:02:52] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[11:02:52] Duplicate post wasn't found with unique key ` - FDHC`...</div>
<div class='progress-msg'>[11:02:52] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[11:02:52] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[11:02:52] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[11:02:52] ---</div>
<div class='progress-msg'>[11:02:52] Record #3</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[11:02:52] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[11:02:52] Combine all data for post ``...</div>
<div class='progress-msg'>[11:02:52] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[11:02:52] Duplicate post wasn't found with unique key ` - FDHC`...</div>
<div class='progress-msg'>[11:02:52] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[11:02:52] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[11:02:52] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[11:02:52] ---</div>
<div class='progress-msg'>[11:02:52] Record #4</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[11:02:52] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[11:02:52] Combine all data for post ``...</div>
<div class='progress-msg'>[11:02:52] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[11:02:52] Duplicate post wasn't found with unique key ` - FDHC`...</div>
<div class='progress-msg'>[11:02:52] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[11:02:52] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[11:02:52] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[11:02:52] ---</div>
<div class='progress-msg'>[11:02:52] Record #5</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[11:02:52] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[11:02:52] Combine all data for post ``...</div>
<div class='progress-msg'>[11:02:52] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[11:02:52] Duplicate post wasn't found with unique key ` - FDHC`...</div>
<div class='progress-msg'>[11:02:52] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[11:02:52] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[11:02:52] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[11:02:52] ---</div>
<div class='progress-msg'>[11:02:52] Record #6</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[11:02:52] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[11:02:52] Combine all data for post ``...</div>
<div class='progress-msg'>[11:02:52] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[11:02:52] Duplicate post wasn't found with unique key ` - FDHC`...</div>
<div class='progress-msg'>[11:02:52] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[11:02:52] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[11:02:52] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[11:02:52] ---</div>
<div class='progress-msg'>[11:02:52] Record #7</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[11:02:52] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[11:02:52] Combine all data for post ``...</div>
<div class='progress-msg'>[11:02:52] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[11:02:52] Duplicate post wasn't found with unique key ` - FDHC`...</div>
<div class='progress-msg'>[11:02:52] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[11:02:52] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[11:02:52] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[11:02:52] ---</div>
<div class='progress-msg'>[11:02:52] Record #8</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[11:02:52] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[11:02:52] Combine all data for post ``...</div>
<div class='progress-msg'>[11:02:52] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[11:02:52] Duplicate post wasn't found with unique key ` - FDHC`...</div>
<div class='progress-msg'>[11:02:52] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[11:02:52] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[11:02:52] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[11:02:52] ---</div>
<div class='progress-msg'>[11:02:52] Record #9</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[11:02:52] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[11:02:52] Combine all data for post ``...</div>
<div class='progress-msg'>[11:02:52] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[11:02:52] Duplicate post wasn't found with unique key ` - FDHC`...</div>
<div class='progress-msg'>[11:02:52] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[11:02:52] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[11:02:52] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[11:02:52] ---</div>
<div class='progress-msg'>[11:02:52] Record #10</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[11:02:52] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[11:02:52] Combine all data for post ``...</div>
<div class='progress-msg'>[11:02:52] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[11:02:52] Duplicate post wasn't found with unique key ` - FDHC`...</div>
<div class='progress-msg'>[11:02:52] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[11:02:52] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[11:02:52] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[11:02:52] ---</div>
<div class='progress-msg'>[11:02:52] Record #11</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[11:02:52] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[11:02:52] Combine all data for post ``...</div>
<div class='progress-msg'>[11:02:52] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[11:02:52] Duplicate post wasn't found with unique key ` - FDHC`...</div>
<div class='progress-msg'>[11:02:52] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[11:02:52] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[11:02:52] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[11:02:52] ---</div>
<div class='progress-msg'>[11:02:52] Record #12</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[11:02:52] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[11:02:52] Combine all data for post ``...</div>
<div class='progress-msg'>[11:02:52] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[11:02:52] Duplicate post wasn't found with unique key ` - FDHC`...</div>
<div class='progress-msg'>[11:02:52] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[11:02:52] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[11:02:52] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[11:02:52] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[11:02:52] Cleaning temporary data...</div>
