@charset "utf-8";

/* CSS Document */
/* #Reset & Basics
================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clr {
    clear: both;
}

.alignleft {
    float: left;
    margin: 0 20px 20px 0px;
}

.alignright {
    float: right;
    margin: 0 0 20px 20px;
}

.txtleft {
    text-align: left
}

.txtcenter {
    text-align: center !important;
}

/* #Basic Styles
================================================== */
html,
body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

body {
    background: #fff;
    font-size: 12px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    font-family: 'Poppins', sans-serif !important;
    /****
		font-family: 'Oswald', sans-serif;
		font-family: 'Roboto', sans-serif;
		font-family: 'Poppins', sans-serif;
		font-family: 'Lato', sans-serif;
		font-family: 'Advent Pro', sans-serif;
		font-family: 'Arimo', sans-serif;
	****/
}

/* #Typography
================================================== */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}

em {
    font-style: italic
}

strong {
    font-weight: 700;
}

/*    Blockquotes  */
blockquote,
blockquote p {
    font-size: 17px;
    line-height: 24px;
    color: #777;
    font-style: italic;
}

blockquote {
    margin: 0 0 20px;
    padding: 9px 20px 0 19px;
    border-left: 1px solid #ddd;
}

blockquote cite {
    display: block;
    font-size: 12px;
    color: #555;
}

blockquote cite:before {
    content: "\2014 \0020"
}

blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
    color: #555
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}

/* #Links
================================================== */

a,
a:visited {
    text-decoration: none;
    outline: 0;
    /*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

img:hover {
    outline: none;
}

p a,
p a:visited {
    line-height: inherit
}

/* #Lists
================================================== */
ul,
ol {
    margin: 0
}

ul {
    list-style: none outside
}

ol {
    list-style: decimal
}

ol,
ul.square,
ul.circle,
ul.disc {
    margin-left: 30px
}

ul.square {
    list-style: square outside
}

ul.circle {
    list-style: circle outside
}

ul.disc {
    list-style: disc outside
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
    margin: 0;
    padding: 0;
}

li {
    line-height: 18px;
}

/* #Images
================================================== */
img.scale-with-grid {
    max-width: 100%;
    height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* custom css */
#wrapper {
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.banner-container {
    margin: 0px 0 0 0;
    padding: 0;
    position: relative;
}

.fluid_container {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

.banner-container .camera_caption>div {
    background-color: transparent !important;
}

.banner-container .camera_caption {
    width: 100%;
    top: 36%;
    left: auto;
    right: auto;
}

.banner-container .camera_caption h2 {
    margin: 70px auto 0 auto;
    padding: 70px 90px;
    color: #fff;
    font-size: 48px;
    background: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 32px;
    font-family: 'Oswald', sans-serif !important;
    display: inline-block;
}


/*===== banner - changes ======*/

.banner-container .banner-div {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
}

.banner-container .banner-div .banner-caption {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    text-align: center;
    width: 100%;
}

.banner-caption h2 {
    margin: 25px 0;
    padding: 0;
    font-size: 65px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 6px;
}

.banner-caption p {
    margin: 0;
    padding: 0 25%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}

.breadcrumb-p {
    display: inline-block;
    margin: 0;
    padding: 30% 0% 0 0;
    font-size: 16px;
    color: #fff;
    text-align: left;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}

.gt-span {
    padding: 0 10px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* find */

.find_div {
    margin: 20px auto;
    padding: 10px;
    position: relative;
    background: #000;
    font-size: 16px;
    border-radius: 20px;
}

.round-black {
    padding: 10px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.349);
}

.round-black-1 {
    width: 100%;
    padding: 10px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.349);
}

.round-black-1 a {
    text-align: left !important;
}

.round-black-1 i {
    float: right;
    padding: 0px 20px 0 0;
}

.link-1 {
    color: #fff;
    font-weight: 600 !important;
}

.link-1:hover {
    color: #fff;
    font-weight: 600;
}

.input-1 {
    width: 95%;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
}

.input-2 {
    width: 80%;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
}

.btn.btn-transparent {
    background-color: transparent;
    color: #fff;
    padding: 8px 0px !important;
    font-weight: 600;
    outline: none !important;
}

.btn.btn-transparent:hover,
.btn.btn-transparent:focus {
    color: #fff;
    text-decoration: none;
}

.i-1 {
    color: rgba(255, 255, 255, 0.6)
}

.i-2 {
    color: rgba(255, 255, 255, 0.6)
}

.pl-2 {
    padding-left: 10px;
}

.btn-search {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    border-radius: 24px;
    background-color: #ce363c;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}

.btn-search:hover,
.btn-search:focus {
    background-color: #fff;
    color: #ce363c;
    transition: all .3s ease-in-out;
}

.btn-search span.span-1 {
    padding: 10px 0;
}

.img-search {
    widows: 50%;
}

.banner-caption .open>.dropdown-menu {
    display: block;
    margin-top: 12px;
    padding: 5px 0;
    background: #000;
    color: #fff;
    width: 200px;
    z-index: 4000;
}

.banner-caption .dropdown-menu>li>a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
}

.banner-caption .dropdown-menu>li>a:hover,
.banner-caption .dropdown-menu>li>a:focus {
    padding: 6px 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}


/*======*/

.header-div {
    margin: 0;
    padding: 0px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #000;
    height: 150px;
}

/*.fixed-header {
    background-color: #000; z-index: 100; padding-bottom: 15px;     position: fixed;
}*/
.fixed-header {
    background-color: #000;
    z-index: 100;
    padding-bottom: 0;
    position: fixed;
    height: 100px;
}

.logo-div {
    padding: 40px 20px 0 0;
    /*padding: 0;*/
    position: relative;
    float: left;
    top: 0;
    z-index: 15;
    display: block;
    height: 150px;
}

.logo-div-100 {
    height: 100px;
    padding: 15px 0 0 0;
}

.nav-div {
    margin: 0px 0 0 0;
    padding: 0;
    position: relative;
    float: left;
    height: 150px;
}

.nav-div .navbar {
    padding: 40px 0 0 0;
    min-height: auto;
    display: block;
    height: 150px;
}

.nav-div .navbar-100 {
    padding: 17px 0 0 0;
    height: 100px;
}

.nav-div .navbar-nav {
    margin: 15px 0;
    padding: 0;
    float: left;
}

.navbar-nav>li>.dropdown-menu {
    margin: 0px 0 0 !important;
    margin-top: 52px !important;
    border-radius: 0 0 0px 0px !important;
    font-family: 'Oswald', sans-serif !important;
    padding: 0 0 !important;
}

.navbar-nav>li>.dropdown-menu.mt-22 {
    margin-top: 22px !important;
}

.navbar-nav>li>.dropdown-menu.dropdown-menu-fullmenu {
    margin: 30px 0 0 !important;
    margin-top: 52px !important;
    border-radius: 0 0 0px 0px !important;
    font-family: 'Oswald', sans-serif !important;
    padding: 0 0 !important;
    min-width: 200px;
    max-width: 100% !important;
    position: fixed;
    width: 100% !important;
    left: 0;
    height: 420px;
    z-index: 99999;
}

.navbar-nav>li>.dropdown-menu.dropdown-menu-fullmenu.mt25 {
    margin-top: 25px !important;
}

.content-menu {
    padding: 0px;
}

.content-menu .h3-title-menu {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 50px 0 0 0;
}

.navbar-nav span.scroll-down-arrow {
    visibility: hidden !important;
}

.content-menu .img-thumb {
    margin: 0 auto;
    padding: 30px 0 0 0;
}

.content-menu .img-thumb img {
    margin: 0 auto;
    width: 40px;
}

.content-menu .h4-footer {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.content-menu .left-shape {
    width: 0;
    height: 0;
    border-bottom: 420px solid #b21f23;
    border-left: 200px solid transparent;
    height: 100%;
    width: 100%;
}

.plr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.nav-div .navbar-nav>li {
    padding: 0;
}

.nav-div .navbar-nav>li>a {
    margin: 0 0px 0 15px;
    padding: 10px 0px 10px 0px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    line-height: normal !important;
    border-bottom: 1px solid transparent;
}

.nav-div .navbar-nav>li.active a {
    color: #fff;
    border-bottom: 2px solid #ca2027;
}

.nav-div .navbar-nav>li>a:hover,
.nav-div .navbar-nav>li>a:focus,
.nav-div .navbar-nav>li>a:active {
    background-color: transparent !important;
    color: #b01f23;
    border-bottom: 1px solid #b01f23;
    padding-bottom: 10px;
}


.nav-div .navbar-nav>li.active .dropdown-menu {
    background: #fff !important;
}

.nav-div .dropdown-menu>li>a {
    color: #000 !important;
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
    font-size: 16px;
    background: #fff !important;
    padding: 10px;
    width: 250px;
}

.nav-div .dropdown-menu>li:last-child>a {
    border-bottom: 0 !important;
}

.nav-div .dropdown-menu>li>a:focus,
.nav-div .dropdown-menu>li>a:hover {
    background: #b01f23 !important;
    color: #fff !important;
}

.nav-div .navbar-nav .collapsible ul.sm-nowrap>li>a {
    color: #243182;
    font-size: 13px !important;
    text-transform: none !important;
}

.nav-div .navbar-nav>li.active .dropdown-menu>li>a {
    color: #243182;
    font-size: 13px !important;
    text-transform: none !important;
}

.logo-img {
    width: 155px;
}

.content-area {
    margin: 0px 0 0 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.block-title-div {
    margin: 0 0 40px 0;
    padding: 0;
}

.block-title-div .line {
    margin: 0;
    padding: 0;
    position: relative;
    background: #e2272e;
    height: 1px;
    width: 15%;
}

.block-title-div h2 {
    margin: 20px 0 0 0;
    padding: 0;
    color: #041e42;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}


.intro-div {
    margin: 0;
    padding: 0 0 40px 0;
    position: relative;
    z-index: 10;
}

.intro-div h3 {
    margin: 70px 0 0 0;
    padding: 0 20px 0 0;
    color: #041e42;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 2px;
    background: url(../Jess/assets/images/trans-logo.png) center center no-repeat;
}

.intro-div p {
    margin: 0 0 20px 0;
    padding: 0;
    color: #041e42;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

.right-div {
    margin: 0;
    position: relative;
    padding: 40px 0 0 40px;
    height: 150px;
}

.right-div-100 {
    padding: 15px 0 0 0;
    height: 100px;
}

.right-div .btn-default {
    padding: 10px 0;
    color: #fff;
    background-color: #000;
    border-color: #000;
    font-size: 14px;
    outline: none !important;
}

.right-div .btn-default>i {
    padding: 0 0px 0 5px;
}

.right-div .btn-default:hover,
.right-div .btn-default:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    outline: none !important;
}

.right-div .open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    color: #fff !important;
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
}

.right-div .p-right {
    font-size: 14px;
    color: #797979;
    display: block;
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
}

.icon-div {
    float: right;
    margin: 10px 0 0 10px;
    padding-left: 20px;
    height: 60px;
    line-height: 60px;
    position: relative;
}

.icon-div i {
    color: #797979;
    text-align: center;
    font-size: 40px;
}

.total-number {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5px;
    right: -10px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    line-height: 24px;
    background: #b21f23;
    display: block;
    text-align: center;
}

.total-number span {
    color: #fff;
    font-size: 11px;
    display: block;
    text-align: center;
}

.dropdown-custom {
    display: inline-block;
    float: left;
    margin: 0 0 0 0;
}

.dropdown-custom ul.dropdown-menu {
    padding: 0px 0 !important;
}

.dropdown-custom ul.dropdown-menu>li {
    padding: 10px 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 13px;
    background-color: #fff;
    color: #000;
}

.dropdown-custom ul.dropdown-menu>li:hover {
    color: #fff;
    background-color: #b21f23;
}

.dropdown-custom ul.dropdown-menu>li:hover>a {
    color: #fff;
}

.dropdown-custom ul.dropdown-menu>li>a {
    color: #000;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a.active {
    padding-left: 20px !important;
}

/* footer div */

.footer-div {
    margin: 0;
    padding: 60px 0 0 0;
    position: relative;
    background: #000;
}

.footer-div .footer-top {
    margin: 0;
    padding: 0 0 20px 0;
}

.footer-div .footer-top h3 {
    margin: 0 0 0px 0;
    padding: 0 0 20px 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.6;
}

.footer-div .h3-footer {
    padding: 30px 0 10px 0 !important;
}

.footer-div .footer-top ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-div .footer-top ul li {
    margin: 0;
    padding: 0;
    color: #707070;
    font-size: 13px;
    list-style: none;
    font-weight: 600;
    line-height: 36px;
}

.footer-div .footer-top ul li a {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5;
}

.footer-div .footer-top ul li a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.footer-div .footer-top p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
}

.footer-div .footer-top p a {
    color: #707070;
    font-weight: 600;
}

.footer-div .footer-top p a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.footer-div .social-icon {
    margin: 20px 0 0 0;
    padding: 0px 0 0 0;
    position: relative;
}

.footer-div .social-icon a:hover {
    color: #fff;
    border: 0px solid #fff !important;
}

.footer-div i.fab {
    padding: 10px 10px;
    margin: 0 8px 0 0;
    text-align: center;
    background: #444444;
    width: 31px;
    height: 31px;
    border-radius: 24px;
    color: #fff;
    border: none;
    font-weight: 400;
    transition: all .3s ease-in-out;
}

.footer-div i.fab:hover {
    background: #fff;
    color: #444444;
}

.footer-div .white-line {
    margin: 0px 0 25px 0;
    padding: 0;
    position: relative;
    background: #fff;
    height: 1px;
    width: 55%;
    border-radius: 50em;
}

.footer-div .footer-btm {
    margin: 0;
    padding: 25px 0;
    background-color: #b21f23;
    color: #fff;
}

.footer-div .footer-btm .copy-txt {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    width: 100%;
}

.font-600 {
    font-weight: 700;
}

.form-control-10 {
    padding: 10px 10px !important;
    height: 45px !important;
    border-radius: 0px !important;
}

.footer-div .img-width-150 {
    width: 150px !important;
}

.footer-div .input-box-footer {
    padding: 20px 0 0 0;
}

.btn-scbscribe {
    margin: 10px 0 !important;
    padding: 10px 15px !important;
    background-color: #b21f23 !important;
    color: #fff !important;
    border-radius: 0 !important;
    border-color: #b21f23 !important;
    text-transform: capitalize;
}

.footer-div .footer-btm .footer-social {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: right;
    float: right;
}

.footer-div .footer-btm .footer-social a {
    margin: 0 0 0 10px;
    background: #05295a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}

.footer-div .footer-btm .footer-social a:hover {
    background: #fff;
    color: #05295a;
}

/* end of footer */

/* ============ ======================= =========================== */

/* animated scroll */

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 33px;
    height: 45px;
    margin-left: -20px;
    top: 50%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}


/* end of animated scroll */



#back-to-top {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    right: auto;
    bottom: 20px;
    cursor: pointer;
}

#back-to-top span {
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #05295a;
    font-size: 18px;
    font-weight: 700;
    background: #fff;
    display: inline-block;
}

.down-arrow-div {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    bottom: 75px;
    left: 0;
    right: 0;
    text-align: center;
    width: 23px;
    z-index: 10;
    cursor: pointer;
}

.down-arrow-div .down-arrow {
    margin: 0 auto;
    padding: 0;
    /* background: url(../Jess/assets/images/down-arrow.png) no-repeat;
    width: 33px;
    height: 45px; */
    display: block;
    text-align: center;
}

.inner-banner-container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    background: #041e42 url(../Jess/assets/images/inner-header-bg.jpg) no-repeat center center;
    height: 200px;
}

.inner-banner-div {
    margin: 100px auto 0 auto;
    padding: 30px 0 40px 0;
    position: relative;
    border-top: 1px solid #1b3c69;
}

.inner-banner-div h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

.company-img-div {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 1;
}

.w-100 {
    width: 100%;
}

.products-list-container {
    margin: :0;
    padding: 0;
    position: relative;
}

.camera_wrap,
.fluid_container {
    height: 500px;
    margin: -40px 0 -40px 0;
}

.general-txt-container {
    margin: 0;
    padding: 0 0 50px 0;
    position: relative;
}

.general-txt-container .general-block-div {
    margin: 0;
    padding: 0;
    position: relative;
}

.general-txt-container .img-div {
    margin: 0 0 20px 0;
    padding: 0;
}

.general-txt-container .desc-div {
    margin: 0;
    padding: 0;
}

.general-txt-container .desc-div h3 {
    margin: 0 0 15px 0;
    padding: 0;
    color: #041e42;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.general-txt-container .desc-div p {
    margin: 0 0 15px 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.general-txt-container .desc-div .sub-ul {
    margin: 15px 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    display: block;
}

.general-txt-container .desc-div .sub-ul li {
    margin: 0 10px 5px 0;
    padding: 5px 30px;
    color: #666;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    display: inline-block;
    border-radius: 42px;
    border: 1px solid #ddd;
}

.general-txt-container .desc-div .sub-ul li a {
    color: #041e42;
}

.general-txt-container .desc-div .sub-ul li a:hover {
    color: #e2272e;
}

/* start to middle container */

.nopadding {
    padding: 0 !important;
}



/*  ============== end of About us ==================  */

.camera_overlayer {
    background: none !important;
}

.camera_prev {
    background-color: #000;
    height: 50px !important;
    padding: 6px 0 0 0 !important;
    left: 20px !important;
    border-radius: 4px;
}

.camera_next {
    background-color: #000;
    height: 50px !important;
    padding: 6px 0 0 0 !important;
    right: 30px !important;
    border-radius: 4px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    font-size: 14px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    font-size: 14px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    font-size: 14px;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    font-size: 14px;
}

/*  ============== end of Blog ==================  */


/* end of middle container */

.fw-600 {
    font-weight: 600 !important;
}

.p0 {
    padding: 0 0 !important;
}

.dot {
    padding: 0 !important;
    height: 10px;
    width: 10px;
    margin: 0 5px 0 5px;
    position: relative;
    display: inline-block;
    background: #d0d0d0;
    border-radius: 100%;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}


/**  Strating a HTML  **/

.top-section {
    padding: 0px;
    margin: 0;
    position: relative;
}

.top-header {
    padding: 4px 0 0 0;
    margin: 0;
    position: relative;
    background-color: #2a2a2a;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header p {
    padding: 15px 0px;
    margin: 0;
    color: #d0d0d0;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.top-header .left-div-top {
    padding: 0;
    margin: 0;
}

.top-header .left-div-top a {
    color: #d0d0d0;
    outline: none;
}

.top-header .middle-div-top {
    padding: 0;
    margin: 0;
}

.top-header .middle-div-top p {
    display: inline-block;
}

.top-header .middle-div-top .red_link {
    color: #b21f23;
    font-weight: 400;
}

.top-header .right-div-top {
    padding: 2px 0 0 0;
    margin: 0;
    background-color: #d0d0d0;
    position: relative;
}

.top-header .right-div-top input[type="text"]:focus:hover {
    border-bottom: 1px solid #fff;
}

.top-header .right-div-top input[type="text"]:focus {
    width: 100%;
    opacity: 1;
    z-index: 1;
    border-bottom: 1px solid #fff;
    cursor: text;
}

.top-header .right-div-top input[type="submit"] {
    font-size: 14px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    float: left;
    border: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    cursor: pointer;
    transition: opacity .4s ease;
    color: #010000;
    outline: none;
    text-transform: uppercase;
}

.top-header .right-div-top input[type="submit"]:hover {
    opacity: 1;
}

.search_div {
    height: 40px;
    font-size: 14px;
    display: block;
    cursor: pointer;
    margin: 0 0 0 0 !important;
}

.search_div .form-control {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0px 0 0px 0;
    padding: 6px 12px;
    color: #000;
    background-color: #d0d0d0;
    background-image: none;
    border: 1px solid #d0d0d0;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.search_div ::-webkit-input-placeholder {
    color: #000 !important;
    font-size: 14px;
}

.search_div ::-moz-placeholder {
    color: #000 !important;
    font-size: 14px;
}

.search_div ::-ms-input-placeholder {
    color: #000 !important;
    font-size: 14px;
}

.search_div ::-moz-placeholder {
    color: #000 !important;
    font-size: 14px;
}

/*  ============== About us ==================  */

h2.h2-title {
    margin: 0;
    padding: 10px 0;
    color: #000;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Oswald', sans-serif !important;
    display: inline-block;
}

.h2-title .black-line {
    margin: 15px 0 50px 0;
    padding: 0;
    position: relative;
    background: #000;
    height: 5px;
    width: 110px;
    border-radius: 50em;
}

.about_us_section {
    margin: 0;
    padding: 0;
    position: relative;
}

.about_us_div {
    margin: 0;
    padding: 100px 0 80px 0;
    position: relative;
}

.about_us_div .middle-center {
    padding: 0 0px;
}

.about_us_div .middle-center h3 {
    padding: 0 0px;
    margin: 0 0 40px 0;
    font-weight: 600;
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    text-align: left;
    line-height: 37px;
    letter-spacing: 0.70px;
}

.about_us_div .middle-center .p-one {
    padding: 0 0px;
    margin: 0 0 40px 0;
    font-weight: 600;
    font-size: 14px;
    color: #757575;
    text-align: left;
    line-height: 26px;
    letter-spacing: 0.50px;
}

.about_us_div .middle-center .p-two {
    padding: 0 0px;
    margin: 0 0 40px 0;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    text-align: left;
    line-height: 26px;
    letter-spacing: 0.50px;
    text-transform: uppercase;
}


.partner_section {
    margin: 0;
    padding: 0;
    position: relative;
}

.partner_div {
    margin: 0;
    padding: 100px 0 80px 0;
    position: relative;
}

.partner_div .slider-div .owl-theme .owl-nav .owl-prev {
    height: 40px;
    width: 40px;
    padding: 20px;
    position: absolute;
    left: -50px;
    outline: none;
}

.partner_div .slider-div .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent;
}

.partner_div .slider-div .owl-theme .owl-nav .owl-next {
    height: 40px;
    width: 40px;
    padding: 20px;
    position: absolute;
    right: -50px;
    outline: none;
}

.partner_div .slider-div .owl-theme .owl-nav {
    margin-top: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
}

.partner_div .slider-div {
    padding: 0;
    margin: 0;
}

.partner_div .slider-div .owl-theme .owl-nav .owl-prev>span,
.partner_div .slider-div .owl-theme .owl-nav .owl-next>span {
    font-size: 42px;
    color: #000000;
    margin-top: 0;
    top: 0;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.partner_div .owl-carousel .owl-item img {
    display: block;
    width: 200px;
    padding: 20px 0px;
    margin: 0 auto;
}


.service_section {
    margin: 0;
    padding: 0;
    position: relative;
}

.service_div {
    margin: 0;
    padding: 0px 0 0px 0;
    position: relative;
}

.service_div .gallery_div {
    margin: 0 -15px;
    padding: 0px 0;
    position: relative;
    background-color: #eee;
}

.col-4 {
    padding: 0 0 !important;
}

.block-div {
    display: block;
    width: 100%;
}

.our_service_div {
    margin: 0;
    padding: 0;
    position: relative;
    background: #000;
    z-index: 10;
    cursor: pointer;
}

.our_service_div img {
    margin: 0 0 0px 0;
    width: 100%;
    height: 100%;
}

.our_service_div .overlay {
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.our_service_div .overlay .text-middle {
    position: absolute;
    top: 35%;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: block;
}

.our_service_div .overlay h3 {
    padding: 10px 0 20px 0;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    opacity: 1;
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
    line-height: 1.4;
}

.our_service_div .overlay a {
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    opacity: 1;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
}

.our_service_div:hover .overlay {
    opacity: 1;
    z-index: 11;
}

.our_service_div.bg-red {
    margin: 0;
    padding: 0;
    position: relative;
    background: #000;
    z-index: 10;
    cursor: pointer;
}

.our_service_div img.img-red {
    width: 100%;
    height: 100% !important;
}

.our_service_div.bg-red .overlay {
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(178, 31, 35, 0.7);
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.our_service_div.bg-red .overlay .text-middle {
    position: absolute;
    top: 40%;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: block;
}

.our_service_div.bg-red .overlay h3 {
    padding: 10px 0 20px 0;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    opacity: 1;
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
    line-height: 1.4;
}

.our_service_div.bg-red .overlay a {
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    opacity: 1;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
}

.our_service_div.bg-red:hover .overlay {
    opacity: 1;
    z-index: 11;
}

.our_service_div.div-black .overlay2 .text-middle {
    position: absolute;
    top: 30%;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 0px 0 0 0;
    display: block;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our_service_div.div-black .overlay2 h3 {
    padding: 10px 0 20px 0;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    opacity: 1;
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
    line-height: 1.4;
}

.our_service_div.div-black .overlay2 a {
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    opacity: 1;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
}

.our_service_div.div-black:hover .overlay2 {
    opacity: 1;
    z-index: 11;
}

.top-40 {
    top: 40% !important;
}

.part_finder_section {
    margin: 0;
    padding: 0;
    position: relative;
}

.part_finder_div {
    margin: 0;
    padding: 80px 0 80px 0;
    background-color: #b21f23;
}

.part_finder_div h2 {
    margin: 0;
    padding: 0px;
    color: #fff;
    font-size: 26px;
    line-height: 37px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 400;
}

.part_finder_div h3 {
    margin: 0;
    padding: 0px;
    color: #fff;
    font-size: 20px;
    line-height: 37px;
    letter-spacing: 0.9px !important;
    text-transform: uppercase;
    font-weight: 400;
}

.part_finder_div h3>span.border-center {
    background-color: #fff;
    height: 2px;
    float: right;
    margin: 16px 0 0 0;
    width: 110px;
    display: block;
}

.part_finder_div .textbox-custom {
    border: 1px solid #fff;
    color: #222;
    background-color: #fff;
    border-radius: 0;
    height: 40px;
    /*display: block; width: 100%;margin: 5px 0 0 0; height: 40px; padding: 10px 0px; font-size: 14px; line-height: 1.42857143; color: #fff; background-color: transparent;border: none; border-bottom: 1px solid #fff; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; cursor:pointer;*/
}

/*
.part_finder_div .textbox-custom:focus,.part_finder_div .textbox-custom:hover{
	border-color: #fff; outline: 0; -webkit-box-shadow: none; box-shadow: none;
}*/
.part_finder_div .colon-white {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    top: 15px;
    right: 5px;
}

.part_finder_div .relative {
    position: relative;
}

.part_finder_div .search-box {
    margin: 0px 0 0 0;
    height: 42px;
    width: 40px;
    display: inline-block;
    padding: 0px;
    background-color: #000;
    transition: all 0.4s ease-in-out;
    border: none;
    outline: none;
}

.part_finder_div .search-box:hover {
    background-color: #fff;
    border-radius: 4px;
}

.part_finder_div .search-box>i {
    color: #b21f23;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    display: block;
}

.part_finder_div ::-webkit-input-placeholder {
    color: #fff !important;
    font-size: 14px;
}

.part_finder_div ::-moz-placeholder {
    color: #fff !important;
    font-size: 14px;
}

.part_finder_div ::-ms-input-placeholder {
    color: #fff !important;
    font-size: 14px;
}

.part_finder_div ::-moz-placeholder {
    color: #fff !important;
    font-size: 14px;
}

/*****/

.last {
    margin: 0 5px 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.menu-bars {
    display: none;
}

.menu-bars {
    background: url(../Jess/assets/images/bars-solid.svg) no-repeat;
    width: 21px;
    height: 23px;
    vertical-align: middle;
}

.sidenav {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: #00134d;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    margin-left: 50px;
    color: #fff;
    font-size: 44px;
    font-weight: 300;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.mobile-hidden {
    display: block !important;
}

.desktop-hidden {
    display: none !important;
}

.middle-div-top>p>span.dot+span:before {
    content: '';
    background: #ca2027 !important;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px 0 5px;
}

#preloader {
    position: fixed;
}

#preloader {
    top: 0;
}

#preloader {
    left: 0;
}

#preloader {
    right: 0;
}

input,
select,
textarea {
    outline: none;
}

::-webkit-scrollbar {
    width: .052083333in;
}

#preloader {
    bottom: 0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#preloader {
    background-color: #fff;
}

#preloader {
    z-index: 99999;
}

#status {
    position: absolute;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

input,
textarea,
select {
    font-family: "Poppins", sans-serif;
}

#status {
    left: 46%;
}

#status {
    top: 40%;
}

#status {
    border-left-width: 3.75pt;
}

#status {
    border-bottom-width: 3.75pt;
}

::placeholder {
    color: #1a2a38;
}

#status {
    border-right-width: 3.75pt;
}

#status {
    border-top-width: .052083333in;
}

#status {
    border-left-style: solid;
}

#status {
    border-bottom-style: solid;
}

#status {
    border-right-style: solid;
}

#status {
    border-top-style: solid;
}

#status {
    border-left-color: #f3f3f3;
}

#status {
    border-bottom-color: #f3f3f3;
}

#status {
    border-right-color: #f3f3f3;
}

#status {
    border-top-color: #b21f23;
}

::placeholder {
    opacity: 1;
}

#status {
    border-image: none;
}

:-ms-input-placeholder {
    color: #1a2a38;
}

::-ms-input-placeholder {
    color: #1a2a38;
}

#status {
    border-radius: 50%;
}

#status {
    width: 75pt;
}

#status {
    height: 75pt;
}

#status {
    -webkit-animation: spin 2s linear infinite;
}

#status {
    animation: spin 2s linear infinite;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*****************************************************************************************/
/************************** start Inner Pages   ******************************************/
/*****************************************************************************************/

/* category */

.middle-container {
    padding: 0;
    margin: 0;
    position: relative;
}

.banner-div {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Oswald', sans-serif !important;
}

.banner-div .fluid_container-all {
    /*background-image:#000 url(../Jess/assets/images/banner-1.jpg);height: 400px;background-position: top center;background-repeat: no-repeat;background-size: cover;*/
    background-color: #b21f23;
}

.banner-div .top-head {
    margin: 0px 0;
    padding: 12% 0 20px 0;
    text-align: center;
}

.banner-div .top-head h1 {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.banner-div .white-line-1 {
    margin: 15px auto 50px auto;
    padding: 0;
    position: relative;
    background: #fff;
    height: 5px;
    width: 95px;
    border-radius: 50em;
}

.banner-div .breadcrumb-div {
    padding: 40px 0 10px 0;
    margin: 0;
    display: inline-block;
    text-transform: capitalize;
}

.banner-div .breadcrumb-div a {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.banner-div .gt-span {
    padding: 0 10px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}

.banner-div .breadcrumb-div p {
    display: inline-block;
    margin: 0;
    padding: 0% 0% 0 0;
    font-size: 16px;
    color: #fff;
    text-align: left;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}

.general-container-div {
    padding: 80px 0 80px 0;
    margin: 0;
    position: relative;
}

.category-left {
    padding: 25px 15px 30px 15px;
    margin-bottom: 20px;
    position: relative;
    background: #fff;
    border: 1px solid #eee;
}

/*.category-left.top-line:before {content: '';position: absolute; top: 0;width: 75px;height: 8px;background: #b21f23;}*/
.category-left .sidebar-title {
    margin: 0px 0 0 0;
    padding: 0px 0px 0px 0px;
    color: #222;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.filter-div {
    padding: 0;
    margin: 0;
}

.filter-div .form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 6px;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    content: "\f107";
    /* -webkit-appearance: none;*/
}

.filter-div .form-control:focus {
    border-color: #ddd;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bottom-black-line {
    margin: 10px 0 30px 0;
    padding: 0;
    position: relative;
    background: #000;
    height: 3px;
    width: 70px;
    border-radius: 16px;
}

.hr-height {
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.btngroup-div {
    padding: 0px;
}

.btngroup-div .btn-custom-red {
    background-color: #b21f23;
    border: 1px solid #fff;
    width: 48%;
    margin: 0 2px 0 2px;
    float: left;
    color: #fff;
    padding: 8px;
    border-radius: 0px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.btngroup-div .btn-custom-red:hover,
.btngroup-div .btn-custom-red:focus {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    outline: none;
}

.category-left.c2 {
    padding: 10px 0 10px 0;
    margin: 0;
    border: none;
}

.category-left.c2 .panel-title {
    margin: 0px 0 0 0;
    padding: 0px 0px 0px 0px;
    color: #222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.category-left.c2:before {
    margin: 0 15px 0 15px;
}

.category-left .panel-title {
    margin: -5px 0 0 0;
    padding: 10px 0px 10px 0px;
    color: #222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.category-left .panel-heading {
    padding: 0;
    border: 0;
    border-radius: 0;
}

.category-left .panel {
    margin-bottom: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.category-left .panel-body {
    padding: 0;
    border-top: none !important;
}

.category-left .panel-group {
    margin-bottom: 0px;
}

.category-list {
    padding: 20px;
    margin: 0;
    background: #f2f2f2;
    box-shadow: 0 5px 0px 0px #ddd;
}

.category-list ul {
    padding: 0px 0;
    margin: 0 0px;
}

.category-list ul>li {
    padding: 20px 0px 0px 0;
}

.category-list ul>li:first-child {
    padding: 0px 0px 0px 0;
}

.category-list ul>li:last-child {
    padding: 20px 0px 0px 0;
}

.category-list ul>li>a {
    color: #000;
    padding: 0px 0;
    line-height: 1.4;
    font-size: 13px;
    font-weight: 400;
}

.category-content {
    background-color: #fff;
    border: 0px solid #ddd;
    padding: 0px;
}

/*.category-content:before { content: '';position: absolute;top: 0;width: 75px;height: 8px;background: #b21f23;}*/

.category-content .h3title {
    padding: 10px 0 0px 0;
    margin: 0;
    color: #222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.border-box .intro {
    background: #fff;
    padding: 0px 0px 20px 0;
    margin-bottom: 15px;
    transform: scale(1);
    border: 0px solid #eee;
}

.border-box .intro:hover {
    box-shadow: 0 0px 10px 0px #ddd;
}

.border-box .caption {
    padding: 0 15px;
}

.border-box .caption h3 {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    color: #222;
    margin-bottom: 10px;
}

.border-box .caption h2 {
    font-size: 16px;
    padding: 0px;
    font-weight: 600;
    text-transform: none;
    color: #b21f23;
    margin: 10px 0 10px 0;
}

.border-box .caption p {
    font-size: 13px;
    color: #222;
    margin-bottom: 10px;
}

.border-box .caption .btn-default {
    background-color: #fff;
    border-color: #666;
    color: #000;
    font-size: 13px;
    text-transform: none;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 0px;
    text-align: right;
    display: inline-block;
    float: right;
    font-weight: 400;
}

.border-box .caption .btn-default:hover,
.border-box .caption .btn-default:focus,
.border-box .caption .btn-default:active {
    background-color: #b21f23 !important;
    border-color: #b21f23 !important;
    color: #fff !important;
}

.p-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.border-box .image {
    height: 210px;
    border-bottom: 1px solid #eee;
    overflow-y: hidden;
    padding-bottom: 1px;
}

.bottomimglist-div {
    padding: 0px 0;
    margin: 0px 0 0 0;
    position: relative;
}

.category-left.box_1 {
    padding: 20px 15px;
    position: relative;
}

.bottomimglist-div .box-div {
    position: relative;
    width: 100%;
    border: 1px solid #fff;
    float: left;
    margin: 0 0 20px 0;
}

.bottomimglist-div .heading-div {
    padding: 0px;
    margin: 0 !important;
}

.bottomimglist-div .heading-div p {
    font-size: 18px;
    text-align: center;
    padding: 0px;
    font-weight: 400;
    margin: 0 !important;
}

.bottomimglist-div .box-div .image {
    display: block;
    width: 100% !important;
    height: auto !important;
    margin: 0 auto;
    padding: 0px;
}

.bottomimglist-div .box-div .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
    transform: rotatey(180deg);
    background: rgba(0, 0, 0, 0.6);
}

.bottomimglist-div .box-div:hover .heading-div {
    position: relative;
    padding: 0px 0 1px 0;
    margin: 0 0 -1px 0 !important;
}

.bottomimglist-div .box-div:hover .heading-div .overlay {
    opacity: 1;
    transform: rotate(360deg);
}

.bottomimglist-div .box-div:hover .heading-div .content-div {
    opacity: 1;
}

/*.bottomimglist-div .box-div:hover .h2-bottom{ background-color: rgba(0, 0, 0, 0.5); }*/
.bottomimglist-div .box-div:hover .h2-bottom {
    opacity: 1;
    background-color: #000;
    color: #fff;
    z-index: 99999;
    border-color: #000;
    margin: 0;
}

.bottomimglist-div .box-div .content-div {
    color: #000;
    font-size: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bottomimglist-div .box-div .content-div .title-p {
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    border: 1px solid #000;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
}

.bottomimglist-div .box-div .content-div p {
    font-size: 13px;
    text-align: center;
    padding: 10px;
    font-weight: 400;
    margin: 0 !important;
    line-height: 1.4;
    color: #fff;
    letter-spacing: 1px;
}

.h2-bottom {
    margin: 0;
    padding: 20px;
    display: block;
    font-size: 16px;
    text-align: center;
    border: 1px solid #eee;
    border-top: none;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
}

.filter-group {
    padding: 10px 15px;
    background-color: #fff;
    margin: 0 0 20px 0;
}

.filter-group .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.filter-group .input-group-addon {
    width: auto;
    font-size: 12px;
    background: transparent !important;
    border-color: transparent !important;
    font-weight: normal;
    padding: 0px 10px 0px 0px;
    height: 30px;
    color: #222;
    border-radius: 0px;
    line-height: 1;
    text-align: center;
    box-shadow: none;
}

.filter-group .form-control:focus {
    box-shadow: none;
}

.filter-group .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #222;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    height: 36px;
    padding: 6px 10px;
    box-shadow: none;
}

/*.red-bg-select select.form-control {background-image: url(../Jess/assets/images/white-small-arrow.png);}*/
select.form-control {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-image: url(../Jess/assets/images/download.png);
    background-color: transparent;
    background-position: right 10px top 14px;
    background-repeat: no-repeat;
}

select.w120 {
    width: 120px !important;
    border-radius: 0px;
}

select.w60 {
    width: 60px !important;
    border-radius: 0px;
}

.pagination-div {
    padding: 0px 0 0 0;
    margin: 0 0 30px 0;
    float: right;
    background-color: #fff;
    width: 100%;
    display: block;
}

.pagination-div ul {
    padding: 0;
    margin: 0;
}

.pagination-div .pagination>li>a,
.pagination-div .pagination>li>span {
    position: relative;
    float: left;
    padding: 10px 20px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
    text-decoration: none;
    background-color: #b21f23;
    border: 1px solid #ddd;
}

.pagination-div .pagination>li>a,
.pagination-div .pagination>li:hover>span {
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination-div .pagination>.active>span {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

.pagination-div .pagination>li:first-child>a,
.pagination-div .pagination>li:first-child>span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pagination-div .pagination>li:last-child>a,
.pagination-div .pagination>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bottom-container-div1 {
    padding: 100px 0 80px 0;
    margin: 0;
    background-color: #deb887;
    background: url(../../uploads/2018/10/bg-img-2.jpg) no-repeat center;
    background-size: cover;
}

/* End of category */

/* category details */

.detail-box {
    padding: 0;
    margin: 0;
    position: relative;
}

.detail-box .intro:hover {
    box-shadow: none;
}

.detail-box .caption h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    text-transform: none;
    color: #222;
    margin-bottom: 10px;
}

.detail-box .image {
    min-height: 100% !important;
    height: 100%;
    border-bottom: 0px solid #eee;
    overflow-y: hidden;
}

.detail-box .caption p {
    font-size: 14px;
    padding: 0px 0;
    display: block;
}

.detail-box .caption h2 {
    font-size: 30px;
    padding: 8px 0;
    font-weight: 600;
    text-transform: none;
    color: #b21f23;
    margin: 10px 0 10px 0;
}

.detail-box .add-cart {
    padding: 0;
    margin: 0;
    display: block;
}

.detail-box .add-cart .qty {
    display: inline-block;
    padding-right: 5px;
}

.detail-box .add-cart .form-control {
    margin-top: 0px;
    width: 120px;
    padding: 10px 15px;
    font-size: 13px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: none;
}

.detail-box .add-cart .btn-addcart {
    background-color: #b21f23;
    margin: -2px 0px 0 0px;
    color: #fff;
    padding: 8px 20px;
    height: 40px;
    border-radius: 0px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    border: 1px solid #b21f23;
}

.detail-box .add-cart .btn-addcart:hover {
    background-color: #000;
}

.details-container {
    padding: 20px 0 0 0;
    margin: 0;
}

.details-container .panel-default {
    border-radius: 0px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
}

.details-container .panel-heading {
    padding: 0px;
    background: #fff;
}

.details-container .panel-heading h4 {
    border: 0px solid #ebebeb;
    margin: 0px;
    padding: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

/*.details-container .panel-heading h4 a.collapsed:after {content: "\f067";font-size: 16px;font-weight: 900;margin: -1px 0 0 0;}
.details-container .panel-heading h4 a:after {content: "\f068";font-family: "Font Awesome 5 Free";font-size: 16px;font-weight: 900;float: right;margin-top: -1px;}*/
.details-container .panel-body {
    border: 0;
    padding: 0;
    border-top: none !important;
}

.padd-zero {
    padding: 0 !important;
}

.panel-container {
    padding: 0;
    margin: 0;
}

.panel-container ul {
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
}

.panel-container ul:first-child {
    border-bottom: none;
}

.panel-container ul .c-40 {
    width: 30%;
    float: left;
    margin: 0;
    padding: 0;
    min-height: 60px;
}

.panel-container ul .c-60 {
    width: 70%;
    float: right;
    margin: 0;
    padding: 0;
    min-height: 60px;
}

.panel-container h3 {
    padding: 20px 15px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.panel-container p {
    padding: 20px 15px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.details-container .collapse.in {
    display: block;
}

.details-container .panel-default>.panel-heading {
    background-color: #fff;
}

.details-container .panel-title a {
    font-size: 16px;
    letter-spacing: 1px;
}

.line-bottom-1 {
    margin: 10px 0 0px 0;
}

.plr-0 {
    padding-left: 0px;
    padding-right: 0px;
}

/* End of category details */

/* blog */

.blog-div {
    padding: 0;
    margin: 0;
    position: relative;
}

.blog-div .border-tlr {
    border-top: 1px solid rgba(237, 237, 237, 0.4);
    border-left: 1px solid rgba(237, 237, 237, 0.4);
    border-right: 1px solid rgba(237, 237, 237, 0.4);
}

.blog-div .middle-center {
    padding: 0 0px;
}

/*.blog-div .blog-content {padding: 30px;position: relative;z-index: 1;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}*/
.blog-div .blog-content {
    padding: 30px;
    background: rgba(237, 237, 237, 0.4);
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.blog-div .blog-content:after {
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    left: 2px;
    right: 2px;
    bottom: 2px;
    display: block;
    z-index: -1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.blog-div .blog-content .media {
    overflow: visible;
}

.blog-div .media:first-child {
    margin-top: 0;
}

.blog-div .blog-content .media-left {
    padding-right: 30px;
}

.blog-div .blog-content .media-left .post-date {
    letter-spacing: 0.25px;
    color: #fff;
    border-radius: 5px;
    background: #ca2027;
    text-align: center;
    width: 68px;
    height: 70px;
    display: block;
    padding-top: 15px;
    margin-top: -50px;
    letter-spacing: 2px;
    font-size: 18px;
}

.blog-div .blog-content .media-left .post-date span {
    display: block;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.blog-div .blog-content .media-body {
    display: block;
    width: auto;
    padding-top: 30px;
}

.blog-div .blog-content .media-body .post-meta li a {
    color: #282828;
    padding: 5px;
    margin: 0 2px;
    display: inline-block;
}

.blog-div .blog-content .media-body h2 {
    letter-spacing: 0.25px;
    padding-top: 8px;
    margin: 0;
    padding: 10px 0;
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.blog-div .blog-content .media-body h2 a {
    color: #282828;

    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    -webkit-transition-duration: 0.9s;
    -o-transition-duration: 0.9s;
    transition-duration: 0.9s;

}

.blog-div .blog-content .media-body .post-meta {
    padding-top: 12px;
}

.blog-div .blog-content .media-body .post-meta li {
    display: inline-block;
    font-weight: 400;
}

.blog-div .blog-content .media-body .post-meta li i {
    color: #bebebe;
    margin-right: 12px;
}

.blog-div .blog-content p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.50px;
    margin: 0;
    line-height: 1.4;
    padding: 0px 0 15px 0;
    color: #000;
}

.blog-div .blog-content h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    line-height: 1.4;
    padding: 0px 0 15px 0;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.btn-more-red-link {
    background-color: #b21f23;
    margin: 0px 0px 0 0px;
    color: #fff;
    padding: 12px 30px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    border: 1px solid #b21f23;
}

.btn-more-red-link:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.blog-short-desc {
    padding: 30px 0 10px 0;
    margin: 0;
}

.img-blog img.img-responsive {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sidebar-search {
    position: relative;
}

.sidebar-search .form-control {
    background: #fff;
    padding: 4px 10px;
    height: 50px;
    line-height: 1.55;
    border: 1px solid #ddd;
    color: #ddd;
    width: 100%;
    letter-spacing: 1px;
    font-size: 15px;
    -moz-transition: border-color 200ms ease-in;
    -webkit-transition: border-color 200ms ease-in;
    transition: border-color 200ms ease-in;
    border-radius: 4px;
    box-shadow: none;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.sidebar-search .btn-search {
    padding: 0;
    background: none;
    position: absolute;
    box-shadow: none;
    outline: none;
    font-size: 18px;
    border: 0;
    line-height: 1;
    color: #666;
    top: 15px;
    right: 15px;
}

.panel-two {
    padding: 30px 0 0 0;
}

.post-list {
    margin: 0;
    padding: 0;
}

.post-list .re-info {
    padding-bottom: 13px;
}

.post-list .media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top;
}

.post-list .media-left,
.media>.pull-left {
    padding-right: 0px !important;
}

.post-list .sidebar-section .widget-recent-n .re-info .media-body {
    vertical-align: middle;
    padding-left: 12px;
}

.post-list .media-left {
    display: table-cell;
    vertical-align: top;
}

.post-list .media-body {
    zoom: 1;
    overflow: hidden;
}

.post-list h5 {
    font: 700 14px/24px;
    letter-spacing: 0.50px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    color: #282828;
}

.post-list a h5 {
    display: inline-block;
    font-size: 12px;
    color: #aaaaaa;
    font-style: italic;
    font-weight: 400;
    padding-right: 10px;
}

.post-list .re-info a h5 i {
    padding-right: 5px;
}

.post-list h5 {
    font-size: 12px !important;
    font-weight: 600;
}

.post-list h5 a {
    font-size: 12px !important;
    font-weight: 600;
    color: #222;
}

.post-list i {
    padding: 5px;
}

.post-hero-list {
    padding: 20px 0 10px 0;
}

.block {
    display: block;
}

.mt-20 {
    margin-top: 20px;
}

.tagcloud a {
    font-style: italic;
    font-size: 14px;
    color: #3e3e3e;
    margin-right: 3px;
}

.tags-div .font-weight-600 {
    font-weight: 600;
}

.tags-div .share-post {
    float: right;
    background: #f4f4f4;
    border-radius: 50px;
    padding: 6px 23px;
}

.tags-div .text-black {
    color: #000;
}

.tags-div .font-weight-600 {
    font-weight: 600;
}

.tags-div .text-uppercase {
    text-transform: uppercase;
}

.tags-div .text-md {
    font-size: 12px;
}

.tags-div ul.list {
    list-style: none;
    padding: 5px 0;
}

.tags-div .text-lg {
    font-size: 18px;
}

.tags-div .list {
    margin: 0;
    padding: 0;
}

.tags-div .share-post {
    float: right;
    background: #f4f4f4;
    border-radius: 50px;
    padding: 6px 23px;
}

.tags-div .v-align-middle {
    vertical-align: middle;
    display: inline-block;
}

.tags-div .share-post ul li {
    float: left;
    margin: 0 0 0 12px;
}

.tags-div .share-post ul li a {
    display: block;
    color: #4c4c4c;
}

.blog-div .m-tb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.blog-div .border-top-bottom {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.blog-div .tags-row {
    padding: 20px 0;
}

.blog-div .m-t-15 {
    margin-top: 15px;
}

.blog-div .m-t-5 {
    margin-top: 5px;
}

.blog-div .font-weight-600 {
    font-weight: 600;
}

.blog-div .text-uppercase {
    text-transform: uppercase;
}

/* admin - comment */

body .m-b-50 {
    margin-bottom: 50px;
}

body .p-40 {
    padding: 40px;
}

.author-box {
    background: #f7f7f7;
}

.author-box img {
    float: left;
    margin-right: 30px;
}

.img-bordered {
    background: #fff;
    padding: 5px;
    border: 1px solid #e4e4e4;
    width: 150px;
}

.author-details {
    overflow: hidden;
    font-size: 13px;
    width: 75%;
    padding: 0 10px;
    float: left;
}

.width-40 {
    width: 25%;
    float: left;
}

.width-40 img {
    width: 90%;
    padding: 20px;
}

body .text-uppercase {
    text-transform: uppercase;
}

.author-name {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.last-p-no-margin p:last-of-type {
    margin-bottom: 0;
}

.last-p-no-margin p:last-child {
    margin: 0;
    font-weight: 600;
    padding: 0px;
    line-height: 1.6;
}

.blockquote-custom {
    background: #f7f7f7;
    position: relative;
    font-size: 14px;
    font-style: italic;
    color: #3e3e3e;
    border: 0;
    padding: 35px 35px 25px 110px;
    margin: 10px 0 00px;
}

.blockquote-custom .quote-icon {
    position: absolute;
    left: 28px;
    font-size: 56px;
    color: #fec952;
    line-height: 1;
    margin-top: -12px;
}

.blockquote-custom p {
    margin-bottom: 15px;
}

.blockquote-custom footer {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: #3e3e3e;
}

.left-bar:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 2px;
    background: #fec952;
    vertical-align: middle;
    margin: -4px 8px 0 0;
}

/* post-comment */

.post-comment {
    margin: 0;
    padding: 35px 0 0 0;
    position: relative;
    display: block;
    border-top: 1px solid #eee;
}

.post-comment .form-control {
    border-color: #e9e9e9;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    height: auto;
    line-height: 26px;
    margin-bottom: 20px;
}

.post-comment label {
    padding: 10px 0;
    margin: 0;
    color: #222;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

.post-comment textarea {
    resize: none;
}

/* end of post-comment */

/* comment */

.date-reply {
    padding: 8px 0px 10px 0px;
}

.date-reply li {
    display: inline-block;
}

.date-reply li a {
    padding: 0;
    color: #aaa;
    font-size: 12px;
}

.comment {
    margin: 0;
    padding: 0;
}

.comment .comment-div {
    margin: 0;
    padding: 25px 10px;
    border: 1px solid #eee;
}

.comment .comment-div h4 {
    margin: 0;
    padding: 0;
}

.comment .comment-div .pa-date {
    margin: 0;
    padding: 10px 0 0 0 !important;
}

.comment .comment-div p {
    margin: 0;
    padding: 10px 0 0px 0 !important;
}

.line-comment {
    padding: 15px 0 0 0;
}

/* comment */

.social-icons {
    padding: 20px 0;
}

.social-icons .list-inline>li {
    padding-bottom: 10px;
}

.social-icons ul>li>a {
    padding: 5px 10px;
    border-radius: 0px;
}

.social-icons ul>li>a>span {
    padding: 0px 0px 0 0px;
    font-size: 13px;
}

.social-icons .btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000000;
    transition: all 0.3s ease-in-out;
}

.social-icons .btn-primary:hover {
    color: #fff;
    background-color: #b21f23;
    border-color: #b21f23;
}

.social-icons i {
    padding: 0 5px 0 0;
    font-size: 12px;
    line-height: 12px;
}

.social-icons .btn-primary.btn-facebook {
    color: #fff;
    background-color: #005397;
    border-color: #005397;
}

.social-icons .btn-primary.btn-google {
    color: #fff;
    background-color: #cf4c3c;
    border-color: #cf4c3c;
}

.social-icons .btn-primary.btn-twitter {
    color: #fff;
    background-color: #1b95e0;
    border-color: #1b95e0;
}

.social-icons .btn-primary.btn-linkedin {
    color: #fff;
    background-color: #0077b4;
    border-color: #0077b4;
}

/* contact us */

.map {
    width: 100%;
    height: 400px;
}

.contect-form-div {
    margin: 0;
    padding: 35px 0 0 0;
    position: relative;
    display: block;
    margin: 0 0 35px 0;
}

.contect-form-div label,
.customlabel {
    padding: 10px 0;
    margin: 0;
    color: #222;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.contect-form-div .form-control,
.form-control.custominput {
    border-color: #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    height: auto;
    line-height: 26px;
    margin-bottom: 20px;
    border-radius: 0px;
    resize: none;
    box-shadow: none !important;
}

.contect-form-div .form-control:hover,
.contect-form-div .form-control:focus {
    border-color: #ddd;
    box-shadow: none !important;
    outline: none;
}

.selectcustom {
    background-position: right 10px top 17px !important;
}

.padd-top-50 {
    padding-top: 20px;
}

.h3_title_1 {
    padding: 10px 0 0px 0;
    margin: 0;
    color: #222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contant-general {
    padding: 0 0 80px 0;
    margin: 40px 0 0 0;
    border-top: 1px solid #ddd;
}

.address_div {
    padding: 35px 0 0 0;
    margin: 0;
}

.p-address {
    padding: 0px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #222;
}

.p-address>span {
    display: block;
}

.address_div h4 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0 0 0;
}

.address_div a {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0px;
    color: #000;
}

.pt-zero {
    padding-top: 0px !important;
}

.h3-title-div.h3-title02 .black-line {
    margin: 15px 0 00px 0;
}

/* end of contact us */

/** privacy */

.privacy-policy-div {
    padding: 0px;
    margin: 0;
}

.privacy-policy-div p {
    padding: 0 0px 10px 0;
    margin: 0 0 0px 0;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-align: left;
    line-height: 24px;
    letter-spacing: 0.50px;
}

.h3-title-div {
    margin: 0;
    padding: 10px 0;
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Oswald', sans-serif !important;
    display: inline-block;
}

.h3-title-div .black-line {
    margin: 15px 0 20px 0;
    padding: 0;
    position: relative;
    background: #000;
    height: 4px;
    width: 80px;
    border-radius: 50em;
}

/** End of privacy */

/* login/register */

.woocommerce .u-columns.col2-set .u-column1.col-1 h2 {
    font-size: 24px;
    padding: 0px 0 20px 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.woocommerce .u-columns.col2-set .u-column2.col-2 h2 {
    font-size: 24px;
    padding: 0px 0 20px 0;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.woocommerce .woocommerce-form {
    padding: 0px !important;
    margin: 20px 20px !important;
    border: 0px solid #ddd !important;
    border-radius: 0px !important;
}

.woocommerce form .form-row label {
    padding: 5px 0 5px 0 !important;
    margin: 0 !important;
    line-height: 1.4 !important;
    font-size: 13px !important;
}

.woocommerce .woocommerce-form .woocommerce-Input.input-text {
    padding: 6px !important;
    border: 1px solid #ddd !important;
}

.woocommerce .woocommerce-form .woocommerce-Button {
    background-color: #b21f23;
    border: 1px solid #fff;
    margin: 0px 0px;
    float: left;
    color: #fff;
    padding: 10px 30px;
    border-radius: 0px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    outline: none;
    font-weight: 400 !important;
}

.woocommerce .woocommerce-form .woocommerce-Button:hover,
.woocommerce .woocommerce-form .woocommerce-Button:focus {
    background-color: #000;
    color: #fff !important;
}

.woocommerce .woocommerce-form.woocommerce-form-login {
    margin: 0px 0px 20px 0px !important;
}

.woocommerce .woocommerce-form.woocommerce-form-register {
    margin: 0px 0px 20px 0px !important;
}

.woocommerce-form-login label.woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {
    float: right;
    margin: 0;
    padding: 0;
}

.woocommerce-form-login label.woocommerce-form__label.woocommerce-form__label-for-checkbox.inline>span {
    vertical-align: top;
    padding: 10px 0 0 0;
    display: inline-block;
}

.woocommerce-form-login .woocommerce-form__input-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #b21f23;
    color: #fff;
    top: 0px;
    height: 25px;
    width: 25px;
    border: 0;
    cursor: pointer;
    margin-right: 7px;
    outline: none !important;
}

.woocommerce-form-login .woocommerce-form__input-checkbox:checked::before {
    position: absolute;
    left: 9px;
    top: 2px;
    content: '\02143';
    transform: rotate(40deg);
}

.woocommerce-form-login .woocommerce-form__input-checkbox:hover {
    background-color: #b21f23;
}

.woocommerce-form-login .woocommerce-form__input-checkbox:checked {
    background-color: #b21f23;
}

.woocommerce-form-login p.woocommerce-LostPassword.lost_password {
    padding: 10px 0;
    text-align: center;
}

.woocommerce-form-login p.woocommerce-LostPassword.lost_password>a {
    padding: 0px 0;
    color: #222 !important;
    font-size: 14px !important;
}

.woocommerce form .form-row {
    padding: 0;
    margin: 10px auto;
    text-align: center;
    display: block;
    width: 100%;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
    padding: 20px 30px;
    margin: 20px 10px;
    border: 1px solid transparent;
}

/*.woocommerce .col2-set .col-1:hover, .woocommerce-page .col2-set .col-1:hover{ border: 1px solid #ddd;box-shadow: 0 0 10px 0px rgba(102, 102, 102, 0.568); }*/
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    padding: 20px 30px;
    margin: 20px 10px;
    border: 1px solid transparent;
}

/*.woocommerce .col2-set .col-2:hover, .woocommerce-page .col2-set .col-2:hover{ border: 1px solid #ddd;box-shadow: 0 0 10px 0px rgba(102, 102, 102, 0.568); }*/

/* End of login/registre */

/* lost-password */

.woocommerce-ResetPassword.lost_reset_password {
    padding: 100px 30px;
    margin: 20px auto;
    border: 1px solid transparent;
    display: block;
    width: 50%;
}

.woocommerce-ResetPassword.lost_reset_password label {
    color: #666;
}

.woocommerce-ResetPassword.lost_reset_password .form-row input.input-text {
    color: #222;
    width: 40%;
}

.woocommerce form .form-row input.input-text {
    padding: 6px !important;
    border: 1px solid #ddd !important;
}

.woocommerce .woocommerce-ResetPassword .woocommerce-Button {
    background-color: #b21f23;
    border: 1px solid #fff;
    margin: 0px 0px;
    color: #fff;
    padding: 10px 30px;
    border-radius: 0px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    outline: none;
    font-weight: 400 !important;
    float: none;
    width: 40%;
}

.woocommerce .woocommerce-ResetPassword .woocommerce-Button:hover,
.woocommerce .woocommerce-form .woocommerce-Button:focus {
    background-color: #000;
    color: #fff !important;
}

.woocommerce .woocommerce-ResetPassword>p:first-child {
    font-size: 14px;
    color: #222;
    padding: 10px 0 40px 0;
    line-height: 22px;
    text-align: center;
}

.woocommerce-Button.button {
    background-color: #b21f23;
    border: 1px solid #fff;
    margin: 0px 0px;
    float: left;
    color: #fff;
    padding: 10px 30px;
    border-radius: 0px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    outline: none;
    font-weight: 400 !important;
}

.woocommerce-Button.button:hover,
.woocommerce .woocommerce-form .woocommerce-Button:focus {
    background-color: #000;
    color: #fff !important;
}

/* End of lost-password */



/* my account */

.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 20%;
    padding: 20px;
}

.woocommerce-MyAccount-navigation>ul {
    border: 1px solid #ddd;
    padding: 0px;
    border-bottom: 5px solid #ddd;
}

li.woocommerce-MyAccount-navigation-link {
    padding: 0;
    color: #222;
    /* border: 1px solid #222; */
    font-size: 14px;
}

.border-box .caption h2.woocommerce-loop-product__title {
    font-size: 14px !important;
    font-weight: 400 !important;
    text-transform: none !important;
    color: #222 !important;
    margin-bottom: 10px !important;
    height: 50px;
}

/* end of my account */

/* Edit address */

.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 25%;
    padding: 0;
    margin: 50px 0;
    background-color: #eaeaea;
}

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link {
    padding: 0;
}

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link>a {
    padding: 20px;
    margin: 0;
    display: block;
    color: #222;
}

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link>a:hover {
    background: #fff;
}

.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard.is-active {
    background: #fff;
}

.woocommerce-account .woocommerce-MyAccount-content {
    width: 71%;
    float: right;
    padding: 0;
    margin: 50px 0;
    font-size: 14px;
}

.woocommerce-MyAccount-content p {
    margin: 0 0 15px 0;
    padding: 0;
    line-height: 20px;
}

/* End of Edit address */

/* End of custom css 8-10-2018 */

/*****************************************************************************************/

/*==============================================================================================================================================*/



.woocommerce nav.woocommerce-pagination {
    clear: both;
    margin-bottom: 50px;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    position: relative;
    float: left;
    padding: 10px 20px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
    text-decoration: none;
    background-color: #b21f23;
    border: 1px solid #ddd;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li a:hover>span {
    background-color: #fff;
    border: 1px solid #ddd;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

.woocommerce img,
.woocommerce-page img {
    width: 100%;
}


.woocommerce-cart-form {
    margin: 100px auto 50px auto;
}

.woocommerce-cart-form .coupon .input-text {
    width: 55% !important;
    height: 40px;
    line-height: 40px;
}

.woocommerce-cart-form .coupon .button {
    margin: 0;
    padding: 0 30px;
    color: #222 !important;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd !important;
    cursor: pointer;
    font-weight: normal;
    border-radius: 0 !important;
    background: #ebe9eb !important;
}

.woocommerce table.shop_table {
    font-size: 14px;
}

#add_payment_method table.cart th,
.woocommerce-cart table.cart th,
.woocommerce-checkout table.cart th {
    background: #ebebeb;
}

.woocommerce table.shop_table td {
    padding: 10px 12px !Important;
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
    width: 120px !important;
}

.woocommerce .quantity .qty {
    width: 80px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}

.product-subtotal .woocommerce-Price-amount.amount {
    font-weight: 700;
}

.woocommerce table.shop_table .product-name a {
    color: #222 !Important;
}

.woocommerce table.shop_table .product-name a:hover {
    color: #b21f23 !Important;
}

.woocommerce #content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon {
    width: 35%;
}

.woocommerce-cart-form .actions .button {
    margin: 0;
    padding: 0 30px !important;
    color: #fff;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-weight: normal;
    background: #222;
    border-radius: 0;
}

.cart-collaterals .cart_totals h2 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #222;
    font-size: 18px;
    text-transform: uppercase;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    border: 1px solid #222;
    background: #fff;
    color: #222;
    font-weight: normal;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background: #b21f23 !Important;
}

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
    margin-bottom: 100px;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    background: transparent;
}

.login-regi-div {
    margin: 50px 0;
}

.login-regi-div .u-column1.col-1,
.login-regi-div .u-column2.col-2 {
    border: 1px solid #ddd;
}

.woocommerce .login-regi-div .u-columns.col2-set .u-column1.col-1 h2 {
    padding: 0;
}

.woocommerce .login-regi-div form .form-row {
    text-align: left;
}

.woocommerce-form-login p.woocommerce-LostPassword.lost_password>a:hover {
    color: #b21f23 !Important;
}

.woocommerce table.my_account_orders th {
    padding: 10px 12px;
    background: #eaeaea;
}

.woocommerce table.my_account_orders td {
    padding: 10px 12px;
}

.woocommerce table.my_account_orders .woocommerce-button.button.view {
    background: transparent !important;
    color: #222;
    font-weight: normal;
    border-radius: 0;
    border: 0;
}

.woocommerce table.my_account_orders .woocommerce-button.button.view:hover {
    color: #b21f23 !Important;
}

.woocommerce-Address {
    margin: 0 !important;
    border: 1px solid #ddd !important;
    word-wrap: break-word;
}

.woocommerce-account .addresses .title h3 {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.woocommerce-MyAccount-content form .form-row {
    text-align: left;
}

.woocommerce-MyAccount-content .woocommerce-Button.button {
    margin: 0;
    padding: 0 30px;
    color: #fff !important;
    height: 40px;
    line-height: 40px;
    border: 0px solid #ddd !important;
    cursor: pointer;
    font-weight: normal;
    border-radius: 0 !important;
    background: #222 !important;
}

.woocommerce-MyAccount-content .woocommerce-Button.button:hover {
    color: #fff !Important;
    background: #b21f23 !Important;
}

.checkout.woocommerce-checkout.row h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #222;
    font-size: 20px;
    text-transform: uppercase;
}

.woocommerce-billing-fields__field-wrapper {
    margin: 0;
    padding: 20px;
    border: 1px solid #ddd;
}

.woocommerce-billing-fields__field-wrapper label {
    text-align: left;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: #fff !important;
    border: 1px solid #ddd !important;
}

.woocommerce-terms-and-conditions-wrapper .input-checkbox {
    display: inline-block;
    margin: 0 0px 0 -20px !important;
    text-align: center;
    vertical-align: middle;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    margin: 0;
    padding: 0 30px !important;
    color: #fff;
    height: 40px;
    line-height: 40px;
    border: 0px solid #ddd !important;
    cursor: pointer;
    font-weight: normal;
    background: #222;
    border-radius: 0;
}

.checkout.woocommerce-checkout .col-1,
.checkout.woocommerce-checkout .col-2 {
    width: 100% !important;
}


/*****************************************************************************************/

/*==============================================================================================================================================*/

.red-bg-select .select2-container--default .select2-selection--single {}

.icon-top-submenu {
    padding: 80px 0 0 0;
}

.content-menu .link-box:hover .h4-footer {
    color: #b21f23;
}



@media only screen and (max-width: 767px) {
    .container {
        width: 100% !important;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .navbar-toggle .icon-bar {
        background: #fff;
    }

    .camera_wrap,
    .fluid_container {
        height: 350px;
        margin: -40px 0 -40px 0;
    }

    .banner-container .camera_caption h2 {
        margin: 0px auto 0 auto;
        padding: 20px 10px;
        color: #fff;
        font-size: 18px;
        display: block;
        letter-spacing: 0.6px !important;
    }

    .banner-container .banner-div .banner-caption {
        left: 0;
    }

    h2.h2-title {
        font-size: 24px;
    }

    .h2-title .black-line {
        margin: 10px 0 20px 0;
        height: 2px;
        width: 40px;
    }

    .about_us_div .middle-center h3 {
        line-height: 22px !important;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .about_us_div .middle-center .p-one {
        line-height: 22px !important;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .about_us_div .middle-center .p-two {
        line-height: 22px !important;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .our_service_div .overlay h3 {
        font-size: 18px;
    }

    .our_service_div .overlay a {
        font-size: 18px;
        border-bottom: 1px solid #fff;
        font-weight: 400;
    }

    .our_service_div.bg-red .overlay h3 {
        font-size: 18px;
    }

    .our_service_div.bg-red .overlay a {
        font-size: 18px;
        border-bottom: 1px solid #fff;
        font-weight: 400;
    }

    .partner_div .owl-carousel .owl-item img {
        width: 105px;
        margin: 15px auto;
    }

    .dropdown-custom {
        display: none;
    }

    .navbar-collapse.in {
        background-color: #000;
    }

    .part_finder_div .search-box {
        display: block;
        margin: 20px auto 0px auto;
    }

    .our_service_div.div-black .overlay2 h3 {
        font-size: 18px;
    }

    .our_service_div.div-black .overlay2 a {
        font-size: 18px;
    }

    .our_service_div.div-black .overlay2 .text-middle {
        height: 300px;
    }

    .our_service_div.bg-red .overlay .text-middle {
        top: 35%;
        display: block;
    }

    .navbar-toggle {
        display: none;
    }

    .sidenav {
        display: block;
    }

    .menu-bars {
        display: block;
    }

    .logo img {
        margin-top: 0px;
    }

    .logo {
        width: 250px;
        padding: 15px 0;
    }

    .nav-div ul {
        display: none !important;
    }

    .nav-div .login-sign-div {
        display: none !important;
    }

    /* url(../Jess/assets/images/menubar.png) no-repeat; */
    .menu-bars {
        width: 40px;
        height: 25px;
        margin-top: 20px;
        display: inline-block;
        vertical-align: middle;
        transition: all .3s ease-in-out;
    }

    .sidenav {
        height: 100%;
        background-color: #000;
    }

    .menu-logo img {
        width: 165px;
        margin: 0 0 0 15px;
    }

    .right-menulinks {
        padding: 20px 0;
        margin: 0;
    }

    .sidenav a {
        padding: 8px 8px 8px 8px;
        margin: 0 auto;
        transition: 0.3s;
        color: #fff;
        font-size: 16px;
    }

    .nav>li>a:hover {
        text-decoration: none;
        color: #000;
    }

    .nav.collapse.in {
        background: rgba(34, 34, 34, 0.685);
    }

    .nav>li>a {
        padding: 15px 0 15px 25px !important;
    }

    .footer-box {
        border-right: 0px solid #fff;
    }

    .nav-div .navbar {
        margin: 40px 0px 0px 45px;
        padding: 0;
        min-height: auto;
        display: block;
        height: 100px;
    }

    .logo-div {
        height: 100px;
    }

    .header-div {
        height: 150px;
    }

    .nav-div {
        position: absolute;
        float: right;
        z-index: 9999;
    }

    .sidenav p.p-right {
        color: #fff;
        padding: 5px 20px;
    }

    .sidenav .dropdown-custom {
        display: block;
        padding: 20px 10px;
        width: 100%;
        margin: 0 0 0px 0;
    }

    .sidenav .dropdown-custom a {
        color: #fff;
        padding: 10px 20px 5px 20px;
    }


    /* end of menu */

    .top-header {
        height: 100%;
        display: block;
        padding: 0 0 20px 0;
    }

    .top-header p {
        padding: 15px 0px 0px 0;
        font-size: 12px;
    }

    .top-header .middle-div-top {
        padding: 0 0 10px 0;
        margin: 0;
    }

    .logo-big {
        width: 200px;
    }

    .logo-ul {
        padding: 10px;
        margin: -70px 0 10px 0;
        border-bottom: 1px solid #222;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 20px;
        right: 20px;
        background: #b21f23;
        margin-left: 50px;
        border-radius: 100%;
        color: #fff;
        height: 50px;
        font-size: 32px;
        font-weight: 300;
        width: 50px;
        line-height: 36px;
        text-align: center;
    }

    .mobile-hidden {
        display: none !important;
    }

    .desktop-hidden {
        display: block !important;
    }

    .footer-div .footer-top h3 {
        margin: 20px 0 0px 0;
    }

    .dot {
        display: none;
    }

    /* megamenu */

    .content-menu {
        padding: 0px;
    }

    .plr-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .content-menu .h3-title-menu {
        color: #fff;
        padding: 0px 0 0 0;
    }

    .content-menu .h4-footer {
        color: #fff;
    }

    a.link-box {
        height: 150px;
    }

    a.link-box:hover {
        background-color: #000;
    }

    .content-menu .img-thumb {
        margin: 0 auto;
        padding: 30px 0 0 0;
        height: 75px;
    }

    .col-xs-12.plr-0.content-menu {
        padding: 50px 0 50px 0;
    }

    /* End of megamenu */

    [data-aos^=fade][data-aos^=fade] {
        opacity: 1 !important;
    }

    [data-aos=fade-up] {
        transform: translate3d(0, 0px, 0) !important;
    }

    /*.about_us_div {
		margin: 0;
		padding: 0px 0 80px 0;
		position: relative;
		height: 970px;
	}*/
    .banner-container .banner-div .banner-caption {
        top: 120px;
    }

    /*  details */

    .details-container {
        padding: 50px 0 0 0;
    }

    .detail-box .caption {
        padding: 0;
    }

    .detail-box .panel-container ul {
        margin: 0 0 10px 0;
    }

    .detail-box .panel-container ul .c-40 {
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;
        min-height: 60px;
        background-color: #eee;
    }

    .detail-box .panel-container ul .c-60 {
        width: 100%;
        float: right;
        margin: 0;
        padding: 0;
        min-height: 60px;
        border-bottom: 1px solid #ddd;
    }

    .tags-div .share-post {
        width: 100%;
        margin: 20px 0 0 0;
    }

    .blog-div .tags-row {
        padding: 0px 0 20px 0;
    }

    .width-40 {
        width: 100%;
        float: left;
    }

    body .p-40 {
        padding: 15px;
    }

    .author-details {
        margin: 20px 0 0 0;
        width: 100%;
    }

    .width-40 img {
        width: 50%;
        padding: 20px;
    }

    .partner_div .slider-div .owl-theme .owl-nav .owl-prev {
        left: -15px;
    }

    .partner_div .slider-div .owl-theme .owl-nav .owl-next {
        right: -15px;
    }

    .partner_div .slider-div .owl-theme .owl-nav .owl-prev>span,
    .partner_div .slider-div .owl-theme .owl-nav .owl-next>span {
        font-size: 24px !important;
    }

    body .m-b-50 {
        margin-bottom: 0px;
    }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {}

@media only screen and (min-width: 480px) and (max-width: 640px) {}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 100% !important;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .nav-div {
        position: absolute;
        float: right;
    }

    .navbar-toggle .icon-bar {
        background: #fff;
    }

    .camera_wrap,
    .fluid_container {
        height: 350px;
        margin: -40px 0 -40px 0;
    }

    .banner-container .camera_caption h2 {
        margin: 0px auto 0 auto;
        padding: 20px 10px;
        color: #fff;
        font-size: 18px;
        display: block;
        letter-spacing: 0.6px !important;
    }

    .banner-container .banner-div .banner-caption {
        left: 0;
    }

    h2.h2-title {
        font-size: 24px;
    }

    .h2-title .black-line {
        margin: 10px 0 20px 0;
        height: 2px;
        width: 40px;
    }

    .about_us_div .middle-center h3 {
        line-height: 22px !important;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .about_us_div .middle-center .p-one {
        line-height: 22px !important;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .about_us_div .middle-center .p-two {
        line-height: 22px !important;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .our_service_div .overlay h3 {
        font-size: 18px;
    }

    .our_service_div .overlay a {
        font-size: 18px;
        border-bottom: 1px solid #fff;
        font-weight: 400;
    }

    .our_service_div.bg-red .overlay h3 {
        font-size: 18px;
    }

    .our_service_div.bg-red .overlay a {
        font-size: 18px;
        border-bottom: 1px solid #fff;
        font-weight: 400;
    }

    .partner_div .owl-carousel .owl-item img {
        width: 140px;
    }

    .part_finder_div h3 {
        font-size: 14px;
        line-height: 22px;
    }

    .part_finder_div h2 {
        font-size: 18px;
        line-height: 22px;
    }

    .part_finder_div {
        padding: 40px 0 40px 0;
    }

    .top-header {
        height: 100%;
        display: block;
    }

    .top-header p {
        padding: 5px 0px;
        font-size: 11px;
    }

    .top-header .left-div-top p {
        padding: 15px 0px 0 0;
    }

    .search_div .form-control {
        height: 45px;
    }

    .nav-div .navbar {
        margin: 0;
        padding: 0;
        min-height: auto;
        display: block;
        justify-content: center;
        align-items: center;
        height: 150px;
    }

    .navbar-collapse.in {
        background: #000;
    }

    .our_service_div.div-black .overlay2 h3 {
        font-size: 18px;
    }

    .our_service_div.div-black .overlay2 a {
        font-size: 18px;
        font-weight: 400;
    }

    .our_service_div .overlay .text-middle {
        top: 30%;
    }

    .mobile-hidden {
        display: block !important;
    }

    .desktop-hidden {
        display: none !important;
    }

    .our_service_div.div-black .overlay2 .text-middle {
        height: 250px;
    }

    .navbar-toggle {
        display: none;
    }

    .sidenav {
        display: block;
    }

    .menu-bars {
        display: block;
    }

    .logo img {
        margin-top: 0px;
    }

    .logo {
        width: 250px;
        padding: 15px 0;
    }

    .nav-div ul {
        display: none !important;
    }

    .nav-div .login-sign-div {
        display: none !important;
    }

    /* url(../Jess/assets/images/menubar.png) no-repeat; */
    .menu-bars {
        width: 40px;
        height: 25px;
        margin-top: 20px;
        display: inline-block;
        vertical-align: middle;
        transition: all .3s ease-in-out;
    }

    .sidenav {
        height: 100%;
        background-color: #000;
    }

    .menu-logo img {
        width: 165px;
        margin: 0 0 0 15px;
    }

    .right-menulinks {
        padding: 20px 0;
        margin: 0;
    }

    .sidenav a {
        padding: 8px 8px 8px 8px;
        margin: 0 auto;
        transition: 0.3s;
        color: #fff;
        font-size: 16px;
    }

    .nav>li>a:hover {
        text-decoration: none;
        color: #000;
    }

    .nav.collapse.in {
        background: rgba(34, 34, 34, 0.685);
    }

    .nav>li>a {
        padding: 15px 0 15px 25px !important;
    }

    .footer-box {
        border-right: 0px solid #fff;
    }

    .nav-div .navbar {
        margin: 40px 0px 0px 45px;
        padding: 0;
        min-height: auto;
        display: block;
        height: 100px;
    }

    .logo-div {
        height: 100px;
    }

    .header-div {
        height: 150px;
    }

    .nav-div {
        position: absolute;
        float: right;
        z-index: 9999;
    }

    /* end of menu */

    .logo-big {
        width: 200px;
    }

    .logo-ul {
        padding: 10px;
        margin: -70px 0 10px 0;
        border-bottom: 1px solid #222;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 20px;
        right: 20px;
        background: #b21f23;
        margin-left: 50px;
        border-radius: 100%;
        color: #fff;
        height: 50px;
        font-size: 32px;
        font-weight: 300;
        width: 50px;
        line-height: 36px;
        text-align: center;
    }

    .footer-div .footer-top .social-icon ul li {
        width: 23%;
        margin: 0 0 10px 0;
    }

    .sidenav p.p-right {
        color: #fff;
        padding: 5px 15px;
    }

    .sidenav .dropdown-custom {
        display: block;
        padding: 15px 10px;
        width: 100%;
        margin: 0 0 0px 0;
    }

    .sidenav .dropdown-custom a {
        color: #fff;
        padding: 10px 15px 5px 15px;
    }

    .dot {
        display: none;
    }

    /* megamenu */

    .content-menu {
        padding: 0px;
    }

    .plr-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .content-menu .h3-title-menu {
        color: #fff;
        padding: 0px 0 0 0;
    }

    .content-menu .h4-footer {
        color: #fff;
    }

    a.link-box {
        height: 150px;
    }

    a.link-box:hover {
        background-color: #000;
    }

    .content-menu .img-thumb {
        margin: 0 auto;
        padding: 30px 0 0 0;
        height: 75px;
    }

    .col-xs-12.plr-0.content-menu {
        padding: 50px 0 50px 0;
    }

    /* End of megamenu */

    [data-aos^=fade][data-aos^=fade] {
        opacity: 1 !important;
    }

    [data-aos=fade-up] {
        transform: translate3d(0, 0px, 0) !important;
    }

    .partner_div .slider-div .owl-theme .owl-nav .owl-prev {
        left: -15px;
    }

    .partner_div .slider-div .owl-theme .owl-nav .owl-next {
        right: -15px;
    }

    .partner_div .slider-div .owl-theme .owl-nav {
        top: -11px;
    }

    .about_us_div {
        padding: 60px 0 40px 0;
    }

    .partner_div {
        padding: 60px 0 40px 0;
    }

    /* innerpage */

    .h2-bottom {
        font-size: 14px;
    }

    .bottomimglist-div .box-div .content-div .title-p {
        padding: 5px;
        font-size: 11px;
    }

    .heading-clear {
        padding: 0 0 0 10px;
    }

    /*.tags-div .v-align-middle { display: block;}*/
    tags-div .share-post {
        padding: 12px 15px;
        width: 100%;
    }

    .tags-div .share-post ul li {
        float: left;
        margin: 0 5px 0 0px;
    }

    span.text-uppercase.text-md.text-black.font-weight-600 {
        padding-right: 2px;
    }

    .author-details {
        width: 65%;
    }

    .width-40 {
        width: 35%;
        float: left;
    }

    .width-40 img {
        width: 95%;
        padding: 12px;
    }

    body .p-40 {
        padding: 15px;
    }

    body .m-b-50 {
        margin-bottom: 0px;
    }

    .footer-div .footer-top ul li a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .woocommerce-ResetPassword.lost_reset_password {
        width: 90%;
    }

    .woocommerce-ResetPassword.lost_reset_password .form-row input.input-text {
        width: 50%;
    }

    .woocommerce .woocommerce-ResetPassword .woocommerce-Button {
        width: 50%;
    }

    .border-box .intro {
        height: 380px;
    }

    .woocommerce-Address {
        margin-bottom: 20px !important;
    }

}


@media only screen and (width: 980px) {}

@media only screen and (width: 1024px) {}

@media only screen and (min-width: 1024px) and (max-width: 1542px) {}

@media only screen and (min-width: 900px) and (max-width: 1440px) {}
